.financial-operations-container .invoice-card .invoice-card-inner-wrap{
    padding: var(--dl-space-space-oneunit);
    display: flex;
    flex-direction: column;
    align-items:center;
}
.financial-operations-container .invoice-card .invoice-card-inner-wrap .j-status-bar{
    margin-bottom: var(--dl-space-space-oneunit);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.financial-operations-container .invoice-card .invoice-card-inner-wrap .j-status-btn.paid{
    background-color: #1BC47D;
}
.financial-operations-container .invoice-card .invoice-card-inner-wrap .j-status-btn.pending{
    background-color: #F24822;
}
.financial-operations-container .invoice-card .invoice-card-inner-wrap .j-status-btn.unpaid{
    background-color: #757575;
}
.financial-operations-container .invoice-card .invoice-card-inner-wrap .j-status-btn{
    padding: 4px 24px;
    color: #1E1E1E;
    font-size: 14px;
}
.financial-operations-container .invoice-card .invoice-card-inner-wrap .j-method-btn{
    background-color: transparent;
    padding: 4px 24px;
    color: #FFFFFFDE;
    font-size: 14px;
}
.financial-operations-container .invoice-card .invoice-card-inner-wrap .j-info-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.financial-operations-container .invoice-card .invoice-card-inner-wrap .j-info-bar .j-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.financial-operations-container .invoice-card .j-info-bar .j-info .j-info-label{
    font-size:12px;
    color: var(--dl-color-grey-white);
}
.financial-operations-container .invoice-card .j-info-bar .j-info .j-info-value{
    font-size:17px;
    color: var(--dl-color-grey-white);
    margin-bottom: 0;
}
