<app-header page_name="profile" ngClass="j-page-section"></app-header>
<div class="financial-operations-container j-front-page page-container">
    <div class="j-inner-container">
        <div class="page-title mb-5 mt-5">
            <h3 class="j-title-size text-white">{{'financial operations'|translate}}</h3>
        </div>
        <div class="j-invoice-list row">
            <div class="j-invoice-item col-md-6 col-12" *ngFor="let invoice of invoice_list;let i = index">
                <div class="invoice-card mt-4">
                    <div class="invoice-time text-white text-center mb-2">
                        {{invoice.created_at}}
                    </div>
                    <app-polygon-border-div specify = "1" [cornerStatus] = "[1,1,1,1]">
                        <div class="invoice-card-inner-wrap">
                            <div class="j-status-bar">
                                <app-polygon-border-div j-class="j-right j-icon">
                                    <div class="j-status-btn" [ngClass] = "{'paid':invoice.status == 'paid','unpaid':invoice.status == 'unpaid','pending':invoice.status=='pending' }">{{invoice.status == 'paid' ? 'paid' : invoice.status == 'unpaid' ? 'unpaid' : invoice.status=='pending' ? 'pending' : ''}}</div>
                                </app-polygon-border-div>
                                <span class="j-tnSize gwTColor">#{{invoice.id}}</span>
                                <app-polygon-border-div j-class="j-left j-icon">
                                    <div class="j-method-btn">{{invoice.payment_way}}</div>
                                </app-polygon-border-div>
                            </div>
                            <div class="j-info-bar">
                                <div class="j-info gwTColor">
                                    <p class="j-info-label">{{'Total'|translate}}</p>
                                    <p class="j-info-value">{{invoice.amount_after_vat}}</p>
                                </div>
                                <div class="j-info gwTColor">
                                    <p class="j-info-label">{{'VAT'|translate}}</p>
                                    <p class="j-info-value">{{invoice.vat_amount}}</p>
                                </div>
                                <div class="j-info gwTColor">
                                    <p class="j-info-label">{{'Amount'|translate}}</p>
                                    <p class="j-info-value">{{invoice.amount}}</p>
                                </div>
                                <div class="j-info gwTColor">
                                    <p class="j-info-label">{{'item'|translate}}</p>
                                    <p class="j-info-value j-ar-text">{{invoice.arabic_name}}</p>
                                    <p class="j-info-value j-en-text">{{invoice.english_name}}</p>
                                </div>
                            </div>
                        </div>
                    </app-polygon-border-div>
                </div>
            </div>
        </div>
        <app-back-profile-icon></app-back-profile-icon>
        <app-select-branch-icon></app-select-branch-icon>
    </div>
</div>
<app-footer ngClass="j-page-section"></app-footer>