.club-branches-container .club-content{
    width: 100%;
    max-width: 1075px;
}
.club-branches-container .j-club-detail{
    border: 1px solid;
    height: 100%;
}
.club-branches-container .j-club-detail .j-club-name,
.club-branches-container .j-club-review .j-club-name{
    font-weight: bolder;
}
.club-branches-container .j-club-detail .j-club-address,
.club-branches-container .j-club-detail .j-club-email{
    border-top: 1px solid #FFFFFF1F;
}
.club-branches-container .j-club-list-panel{
    margin-top:var(--dl-space-space-oneandhalfunits);
}
.club-branches-container .j-club-info .j-item-img.j-type-icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    background-image: url(/assets/img/active-stand-person.svg);
}
.club-branches-container .j-club-info .j-item{
    display: flex;
    margin-bottom: 16px;
}
.club-branches-container .j-club-info  .j-item .j-item-desc{
    display:flex;
    flex-direction: column;
    margin: 0 12px;
}
.club-branches-container .j-club-info  .j-item .j-item-desc .j-label{
    color: var(--dl-color-grey-dark);
    font-size:12px;
}
.club-branches-container .j-club-info  .j-item .j-item-desc .j-value{
    color: var(--dl-color-grey-white);
    font-size:14px;
}
.club-branches-container .j-club-detail .j-contact-btn-wrap{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.club-branches-container .j-club-detail .j-contact-btn-wrap i{ 
    width: 24px;
    height: 24px;
    display: flex;
}
.club-branches-container .j-club-detail .j-contact-btn{ 
    padding: 18px 12px;
    font-size: 14px;
}
/* ---------------------review---------------------- */
.club-branches-container .j-club-review{
    text-align: right;
    border: 1px solid;
    height: 100%;
}
.club-branches-container .j-club-review .j-club-review-box-list{
    display:flex;
    justify-content: space-between;
}
.club-branches-container .j-club-review .j-club-review-box-list .j-star{
    width : 56px;
    height: 56px;
}
.club-branches-container .j-club-review .j-club-review-box-list .j-review-item.active .j-star{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    background-image: url(/assets/img/star.svg);
}
.club-branches-container .j-club-review .j-comment-box{
    height: 160px;
    padding :8px;
}
.club-branches-container .j-club-review .j-approval{
    width: 100%;
}
@media(max-width: 375px) {
    .club-branches-container .j-club-review .j-club-review-box-list .j-star{
        width : 42px;
        height: 42px;
    }
}