<app-header page_name="personal-training" ngClass="j-page-section"></app-header>
<div class="container">
    <div class="personal-training-container j-front-page page-container">
        <div class="page-title mb-5 mt-5">
            <h3 class="j-title-size gwTColor">{{'personal training'|translate}}</h3>
        </div>
        <div class="j-form-group mb-4 j-max-width-360">
            <label for="session_date" class="j-inputbox-label">{{'Select_Date'|translate}}</label>
            <div class="j-input-icons j-input-icon-left">
                <input type="text" class="j-inputbox" id="session_date" [(ngModel)] = "session_date" #sessionDate="ngModel" name = "session_date" (ngModelChange)="changeDate($event)" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}">
                <i class="j-icon j-icon-left j-icon-calendar"></i>
            </div>
        </div>
        <div class="j-sessions-list row">
            <div class="col-md-6 col-12" *ngFor="let personalTraining of personalTrainings;let i = index">
                <app-personal-training-item [personalTraining] = "personalTraining"></app-personal-training-item>
            </div>
        </div>
    </div>
</div>
<app-footer ngClass="j-page-section"></app-footer>