<div class="j-session-item" (click) = "showClassDetail()">
    <app-polygon-border-div specify="1" [cornerStatus]="[1,1,1,1]" cutRange="15"  weight = "1">
        <div class="j-session-card">
            <app-polygon-border-div j-class="j-left">
                <div class="j-img j-trainer-photo" style="background-image: url({{personalTraining.trainer_banner}});"></div>
            </app-polygon-border-div>
            <div class="j-session-info gwTColor j-tnSize j-en-text">
                <p class="mb-1">{{personalTraining.english_class_name}} {{personalTraining.trainer_name}}</p>
                <p class="mb-1">{{personalTraining.branch_name_en}} . {{personalTraining.start_time}} - {{personalTraining.end_time}} </p>
                <!-- <p class="mb-0">{{personalTraining.count}} / 10.</p> -->
            </div>
            <div class="j-session-info gwTColor j-tnSize j-ar-text">
                <p class="mb-1">{{personalTraining.arabic_class_name}} {{personalTraining.trainer_name}}</p>
                <p class="mb-1">{{personalTraining.branch_name_ar}} . {{personalTraining.start_time}} - {{personalTraining.end_time}} </p>
                <!-- <p class="mb-0">{{personalTraining.count}} / 10.</p> -->
            </div>
            <i class="j-icon bi bi-chevron-left"></i>
        </div>
    </app-polygon-border-div>
</div>