<div class="app-cancel-subscription modal-container j-front-page">
    <div class="j-inner-wrap">
        <h4 class="j-tinySubtitle-size gdTColor mb-4 mt-4">إلغاء الحجز</h4>
        <div class="d-flex flex-row-reverse">
            <app-polygon-border-div j-class="j-left">
                <div class="j-item-img j-type-icon" style="background-image: url(/assets/img/person-cross.svg);"></div>
            </app-polygon-border-div>
        </div>
        <h3 class="j-membership-name j-smalltitle-size mb-4 mt-4 text-white">عضوية 3 أشهر</h3>
        <p class="j-freeze-desc j-tnSize gdTColor">هل أنت متأكد من أنك تريد إلغاء اشتراكك في النادي الرياضي؟ بإمكانك تجميد العضوية لمدة محددة، بدلاً من إلغاء الاشتراك بشكل نهائي.</p>
        <div class="j-cancel mt-4">
            <div class="j-form-group">
                <button type="button" class="j-left-button button j-submit-button"><span>إلغاء الحجز</span></button>
            </div>
        </div>
    </div>
</div>