<div class="class-detail-container page-container j-front-page">
    <div class="j-class-photo">
        <img src="/assets/img/person1.png" class="j-class-photo"/>
    </div>
    <div class="j-class-subject mt-4">
        <h3 class="j-class-title j-title-size gwTColor">كورن هوفمان</h3>
        <p class="j-class-description j-tnSize gdTColor mt-4 mb-4">حصة تدريب على الجري في الصالة الرياضية لتحسين لياقتك البدنية وحرق السعرات الحرارية.</p>
    </div>
    <div class="j-class-detail mt-4 mb-5">
        <h4 class="j-class-subtitle j-subtitle-size gwTColor">التفاصيل</h4>
        <div class="j-class-detail-wrap d-flex flex-row-reverse mt-4 j-tnSize">
            <app-polygon-border-div j-class = 'j-left' class="j-class-detail-item">
                <div class="j-inner-wrap gdTColor">
                    <div class="j-item-title">أحمد سمير عبد الرحمن</div>
                    <app-polygon-border-div j-class = 'j-left j-icon'>
                        <div class="j-item-img j-type-img" style="background-image: url(/assets/img/person1.png);"></div>
                    </app-polygon-border-div>
                </div>
            </app-polygon-border-div>
            <app-polygon-border-div j-class = 'j-left' class="j-class-detail-item">
                <div class="j-inner-wrap gdTColor">
                    <div class="j-item-title">14 seats available</div>
                    <app-polygon-border-div j-class = 'j-left j-icon'>
                        <div class="j-item-img j-type-icon" style="background-image: url(/assets/img/earth.svg);"></div>
                    </app-polygon-border-div>
                </div>
            </app-polygon-border-div>
        </div>
    </div>
    <div class="j-class-appointments mt-4">
        <h4 class="j-class-subtitle j-subtitle-size gwTColor">المواعيد</h4>
        <div class="j-class-apt-date-list j-list j-tnSize mt-4">
            <app-polygon-border-div class="j-apt-day-item j-item" j-class = 'j-left' *ngFor="let pday of openDays" >
                <div class="j-inner-wrap gdTColor">
                    <div class="j-item-title">{{pday}}</div>
                    <app-polygon-border-div j-class = 'j-left j-icon'>
                        <div class="j-item-img j-type-icon" style="background-image: url(/assets/img/calendar.svg);"></div>
                    </app-polygon-border-div>
                </div>
            </app-polygon-border-div>
        </div>
        <div class="j-class-apt-time-list j-list j-tnSize mt-4">
            <app-polygon-border-div class="j-apt-time-item j-item" j-class = 'j-left' *ngFor="let ptime of openTimes" >
                <div class="j-inner-wrap gdTColor">
                    <div class="j-item-title">{{ptime}}</div>
                    <app-polygon-border-div j-class = 'j-left j-icon'>
                        <div class="j-item-img j-type-icon" style="background-image: url(/assets/img/l.svg);"></div>
                    </app-polygon-border-div>
                </div>
            </app-polygon-border-div>
        </div>
    </div>
    <div class="j-class-reserve mt-4">
        <div class="j-form-group">
            <button type="button" class="j-left-button button j-submit-button"><span>reserve a seat</span></button>
        </div>
    </div>
</div>
