<div class="class-detail-container modal-container j-front-page pt-2">
    <div class="j-class-photo">
        <img src="{{personalTraining.trainer_banner}}" class="j-class-photo"/>
    </div>
    <div class="j-class-subject mt-4 d-none">
        <h3 class="j-class-title j-title-size gwTColor">{{personalTraining.english_name}}</h3>
        <p class="j-class-description j-tnSize gdTColor mt-4 mb-4">{{personalTraining.english_description}}</p>
    </div>
    <div class="j-class-subject mt-4">
        <h3 class="j-class-title j-title-size gwTColor">{{personalTraining.arabic_name}}</h3>
        <p class="j-class-description j-tnSize gdTColor mt-4 mb-4">{{personalTraining.arabic_description}}</p>
    </div>
    <div class="j-class-detail mt-4 mb-5">
        <h4 class="j-class-subtitle j-subtitle-size gwTColor">{{'details'|translate}}</h4>
        <div class="j-class-detail-wrap d-flex flex-row-reverse mt-4 j-tnSize">
            <app-polygon-border-div j-class = 'j-left' class="j-class-detail-item">
                <div class="j-inner-wrap gdTColor">
                    <div class="j-item-title">{{personalTraining.trainer_name}}</div>
                    <app-polygon-border-div j-class = 'j-left j-icon'>
                        <div class="j-item-img j-type-img" style="background-image: url({{personalTraining.trainer_banner}});"></div>
                    </app-polygon-border-div>
                </div>
            </app-polygon-border-div>
            <app-polygon-border-div j-class = 'j-left' class="j-class-detail-item">
                <div class="j-inner-wrap gdTColor">
                    <div class="j-item-title">14 {{'seats available'|translate}}</div>
                    <app-polygon-border-div j-class = 'j-left j-icon'>
                        <div class="j-item-img j-type-icon" style="background-image: url(/assets/img/earth.svg);"></div>
                    </app-polygon-border-div>
                </div>
            </app-polygon-border-div>
        </div>
    </div>
    <div class="j-class-appointments mt-4">
        <h4 class="j-class-subtitle j-subtitle-size gwTColor">{{'Appointments'|translate}}</h4>
        <div class="j-class-apt-date-list j-list j-tnSize mt-4">
            <app-polygon-border-div class="j-apt-day-item j-item" j-class = 'j-left' >
                <div class="j-inner-wrap gdTColor">
                    <div class="j-item-title">{{personalTraining.session_date}}</div>
                    <app-polygon-border-div j-class = 'j-left j-icon'>
                        <div class="j-item-img j-type-icon" style="background-image: url(/assets/img/calendar.svg);"></div>
                    </app-polygon-border-div>
                </div>
            </app-polygon-border-div>
        </div>
        <div class="j-class-apt-time-list j-list j-tnSize mt-4">
            <app-polygon-border-div class="j-apt-time-item j-item" j-class = 'j-left' >
                <div class="j-inner-wrap gdTColor">
                    <div class="j-item-title">{{personalTraining.start_time}} - {{personalTraining.end_time}}</div>
                    <app-polygon-border-div j-class = 'j-left j-icon'>
                        <div class="j-item-img j-type-icon" style="background-image: url(/assets/img/l.svg);"></div>
                    </app-polygon-border-div>
                </div>
            </app-polygon-border-div>
        </div>
    </div>
    <div class="j-class-reserve mt-4">
        <div class="j-form-group">
            <button type="button" class="j-left-button j-submit-button" [class.loading] = "submitting" (click)="reserveSeat()"><span>{{'reserve a seat'|translate}}</span></button>
        </div>
    </div>
</div>

