<div class="authentication-container page-container">
	<div class="j-reset-password-section j-page-section j-auth-section">
		<a class="j-signup-btn button j-right-button" routerLink="/signup">إنشاء حساب</a>
		<a class="j-login-btn button j-left-button" routerLink="/login">تسجيل الدخول</a>
		<img alt="logo" src="/assets/external/logo.svg" class="j-app-logo"/>
		<h4 class="j-page-title">تغيير كلمة المرور</h4>
		<form class="j-form">
			<div class="j-form-group">
				<label for="old_password" class="j-inputbox-label">كلمة المرور الجديدة</label>
				<div class="j-input-icons">
					<input type="passsword" class="j-inputbox" id="old_password" aria-describedby="old_passwordHelp" placeholder="كلمة المرور الجديدة" required minlength="6">
					<i class="j-icon j-icon-key"></i>
				</div>
			</div>
			<div class="j-form-group">
				<label for="new_password" class="j-inputbox-label">تأكيد كلمة المرور</label>
				<div class="j-input-icons">
					<input type="password" class="j-inputbox" id="new_password" placeholder="تأكيد كلمة المرور" required minlength="6">
					<i class="j-icon j-icon-key"></i>
				</div>
			</div>
			<div class="j-form-group">
				<button type="submit" class="j-left-button button j-submit-button"><span>حفظ كلمة المرور الجديدة</span></button>
			</div>
		</form>
	</div>
</div>
