<div class="authentication-container page-container">
	<div class="j-reset-password-section j-page-section j-auth-section">
		<a class="j-signup-btn button j-right-button" routerLink="/signup">إنشاء حساب</a>
		<a class="j-login-btn button j-left-button" routerLink="/login">تسجيل الدخول</a>
		<img alt="logo" src="/assets/external/logo.svg" class="j-app-logo"/>
		<h4 class="j-page-title">تغيير كلمة المرور</h4>
		<form class="j-form" role="form" #resetForm="ngForm" (ngSubmit)="submitted=true; resetForm.form.valid && confirm_password == newData.password  ? resetPassword() : false;" [ngClass]="{invalid: resetForm.submitted && mobile.invalid && (mobile.dirty || mobile.touched || resetForm.submitted)}">
			<div class="j-form-group" [ngClass]="{invalid: resetForm.submitted && mobile.invalid && (mobile.dirty || mobile.touched || resetForm.submitted)}">
				<label for="mobile" class="j-inputbox-label j-flex-row-reverse">
					<span>Mobile Number</span>
					<span class="j-error" *ngIf="mobile.errors">
						<ng-container *ngIf="mobile.errors.required">Required!</ng-container>
						<ng-container *ngIf="mobile.errors.pattern">Wrong phone number format!</ng-container>
					</span>
				</label>
				<div class="j-input-icons j-input-icon-right">
					<input type="text" class="j-inputbox" [(ngModel)]="newData.mobile" id="mobile" name="mobile" aria-describedby="mobileHelp" placeholder="Mobile Number" required  #mobile="ngModel" pattern = '[- +()0-9]+'> 
					<i class="j-icon j-icon-right j-icon-phone"></i>
				</div>
			</div>
			<div class="j-form-group" [ngClass]="{invalid: resetForm.submitted && otp.invalid && (otp.dirty || otp.touched || resetForm.submitted)}">
				<label for="otp" class="j-inputbox-label j-flex-row-reverse">
					<span>OTP</span>
					<span class="j-error" *ngIf="otp.errors">
						<ng-container *ngIf="otp.errors.required">Required!</ng-container>
					</span>
				</label>
				<div class="j-input-icons j-input-icon-right">
					<input type="text" ngSpinBox  class="j-inputbox" [(ngModel)]="newData.otp" id="otp" name="otp" aria-describedby="otpHelp" placeholder="Client ID" required  #otp="ngModel"> 
					
					<i class="j-icon j-icon-right bi bi-chat-left-text"></i>
				</div>
			</div>
			<div class="j-form-group" [ngClass]="{invalid: resetForm.submitted && password.invalid && (password.dirty || password.touched || resetForm.submitted)}">
				<label for="password" class="j-inputbox-label j-flex-row-reverse">
					<span>Password</span>
					<span class="j-error" *ngIf="password.errors">
						<ng-container *ngIf="password.errors.required">Required!</ng-container>
					</span>
				</label>
				<div class="j-input-icons j-input-icon-right">
					<input type="password" class="j-inputbox" id="password" name="password" [(ngModel)]="newData.password" placeholder="كلمة المرور" #password="ngModel" required>
					<i class="j-icon j-icon-right j-icon-key"></i>
				</div>
			</div>
			<div class="j-form-group" [ngClass]="{invalid: resetForm.submitted && ((confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || resetForm.submitted )) || confirm_password != newData.password )}">
				<label for="confirmPassword" class="j-inputbox-label j-flex-row-reverse">
					<span>Confirm Password</span>
					<span class="j-error" *ngIf="submitted && ((confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || submitted )) || confirm_password != newData.password )">
						<ng-container *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || submitted ) else validConfirmTemplate">
							
						</ng-container>
						<ng-template #validConfirmTemplate>
							Confirm Password !
						</ng-template>
					</span>
				</label>
				<div class="j-input-icons j-input-icon-right">
					<input type="password" class="j-inputbox" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirm_password" placeholder="Confirm Password" #confirmPassword="ngModel" required>
					<i class="j-icon j-icon-right j-icon-key"></i>
				</div>
			</div>

			<a routerLink="/forgot-password" class="small text-white mt-3 j-text-hover">Resend Code</a>
			<div class="j-form-group">
				<button type="submit" class="j-left-button button j-submit-button"><span>حفظ كلمة المرور الجديدة</span></button>
			</div>
			<p class="small text-white mt-3">Don't you have an account ? <a class="text-white j-text-hover" routerLink="/signup" >Sign up here</a></p>
		</form>
	</div>
</div>
