.j-auth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.j-auth-section .j-inputbox{
    min-width: 340px;
}
.j-auth-section .j-app-logo{
    margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.j-auth-section .j-page-title{
    color: var(--dl-color-grey-white);
    font-size: 25px;
    margin-bottom: var(--dl-space-space-threeunits);
}
.j-auth-section .j-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.j-auth-section .j-submit-button span{
    color: var(--dl-color-grey-black);
}
.j-auth-section .j-submit-button{
    margin-top: var(--dl-space-space-oneandhalfunits);
}
.j-reset-password-section .j-login-btn{
    position: absolute;
    top:var(--dl-space-space-oneandhalfunits);
    right:var(--dl-space-space-oneandhalfunits);
    color: var(--dl-color-grey-white);
	background:var(--dl-color-grey-black);
    cursor: pointer;
}
.j-reset-password-section .j-signup-btn{
    position: absolute;
    top:var(--dl-space-space-oneandhalfunits);
    left:var(--dl-space-space-oneandhalfunits);
    color: var(--dl-color-grey-white);
	background:var(--dl-color-grey-black);
    cursor: pointer;
}