<div class="blog-post-card3-blog-post-card" [ngClass]="rootClassName">
  <img
    [attr.alt]="image_alt"
    [attr.src]="image_src"
    class="blog-post-card3-image"
  />
  <div class="blog-post-card3-container">
    <h1 class="blog-post-card3-text">{{ title }}</h1>
    <div class="blog-post-card3-container1">
      <span class="blog-post-card3-text1">{{ description }}</span>
      <div class="blog-post-card3-container2">
        <div class="blog-post-card3-container3">
          <span class="blog-post-card3-text2">Date &amp; Time: 19-06-2023</span>
          <span class="blog-post-card3-text3">Available Seats: 4</span>
        </div>
      </div>
      <span class="blog-post-card3-text4"></span>
    </div>
  </div>
</div>
