.notifications-container .j-noti-item{
    padding-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
    border-bottom: solid 1px;
}
.notifications-container .j-noti-item .j-noti-left{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 12px;
}
.notifications-container .j-item-img.j-icon{
    width: 48px;
    height: 48px;
    background-size: auto 37%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.notifications-container .j-icon.j-notification-icon-account{
    background-image: url(/assets/img/person.svg);
}
.notifications-container .j-icon.j-notification-icon-subscription{
    background-image: url(/assets/img/key.svg);
}
.notifications-container .j-icon.j-notification-icon-session{
    background-image: url(/assets/img/person-cross.svg);
}
.notifications-container .j-icon.j-notification-icon-branch{
    background-image: url(/assets/img/branch.svg);
}
.notifications-container .j-icon.j-notification-icon-payment{
    background-image: url(/assets/img/cash.svg);
}