<app-header page_name="profile" ngClass="j-page-section"></app-header>
<div class="notifications-container j-front-page page-container">
    <div class="j-inner-container">
        <div class="page-title mb-5 mt-5">
            <h3 class="j-title-size gwTColor">{{'Notifications' | translate}}</h3>
        </div>
        <div class="j-notification-lists">
            <div class="j-noti-item" *ngFor="let noti of noti_list;let i = index">
                <app-polygon-border-div j-class = 'j-left'>
                    <i class="j-item-img j-icon j-notification-icon-{{noti.icon}}"></i>
                </app-polygon-border-div>
                <div class="j-noti-left">
                    <div class = "j-noti-content gwTColor mb-2" *ngIf="lang=='en'">
                        <h6 class="mb-0">
                            {{noti.english_title}}
                        </h6>
                        {{noti.english_description}}
                    </div>
                    <div class = "j-noti-content gwTColor mb-2" *ngIf="lang=='ar'">
                        <h5 class="mb-0">
                            {{noti.arabic_title}}
                        </h5>
                        {{noti.arabic_description}}
                    </div>
                    <div class = "j-noti-date gwTColor">
                        {{noti.created_at  | date: 'MMM dd yyyy, h:mm a'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="backToProfile" [routerLink] = "'/profile'">
            <app-polygon-border-div j-class="j-right">
                <div class="back-icon">
                    <i class="j-icon bi bi-person"></i>
                </div>
            </app-polygon-border-div>
        </div>
    </div>
</div>
<app-footer ngClass="j-page-section"></app-footer>