.privacy-policy-container{
    /* align-items: flex-end; */
    text-align: right;
}
.privacy-policy-container .page-title{
    width: 100%;
    text-align: center;
}
.privacy-policy-container .j-phrase{
    color: white;
    align-items: flex-end;
    margin-bottom: var(--dl-space-space-twounits);
}
.privacy-policy-container .j-phrase .j-phrase-title{
    color: white;
    font-size: 24px;
    margin-bottom: 16px;
}
.privacy-policy-container .j-phrase p{
    color: white;
    font-size: 15px;
    opacity: 0.87;
    margin-bottom: 10px;
}
.privacy-policy-container .j-phrase li p{
    margin-bottom: 0px;
}
@media(max-width: 767px) {
    .privacy-policy-container .j-phrase .j-phrase-title{
        font-size: 14px;
    }
    .privacy-policy-container .j-phrase .j-phrase-desc{
        font-size: 12px;
    }
}