<div class="profile-container">
	<app-header page_name="profile" ngClass="j-page-section"></app-header>
	<div class="profile-testimonial">
		<img
			alt="image"
			src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
			class="profile-image1"
		/>
		<div class="profile-testimonial1">
			<div class="profile-container3"></div>
			<div class="profile-container4"></div>
		</div>
		<span class="profile-text11">
			<span></span>
			<span></span>
			<span>Jane Doe</span>
			<span></span>
		</span>
	</div>
	<div class="test" style="width: 100%;display: flex; justify-content: center;">
		<app-attendance-qrcode></app-attendance-qrcode>
		<app-cancel-subscription></app-cancel-subscription>
	</div>
	<div class="test" style="width: 100%;display: flex; justify-content: center;">
		<app-branch-selection></app-branch-selection>
		<app-suspend-subscription></app-suspend-subscription>
	</div>
	<div class="test" style="width: 100%;display: flex; justify-content: center;">
		<app-referral-code></app-referral-code>
	</div>
	<form class="profile-form"></form>
	<app-footer ngClass="j-page-section"></app-footer>
</div>
