<div class="profile-container">
	<app-header page_name="profile" ngClass="j-page-section"></app-header>
	<app-polygon-border-div j-class = 'j-left'><div class="p-5">Hello world</div></app-polygon-border-div>
	<app-polygon-border-div j-class = 'j-right'><div class="p-5">Hello world</div></app-polygon-border-div>
	<app-polygon-border-div specify = "1" bgColor ="var(--dl-color-grey-black)" borderColor="red" [cornerStatus] = "[1,1,1,0]" cutRange = "15" weight="1" j-class = ''><div class="p-5">Hello world</div></app-polygon-border-div>

	<div class="profile-testimonial">
		<img
			alt="image"
			src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
			class="profile-image1"
		/>
		<div class="profile-testimonial1">
			<div class="profile-container3"></div>
			<div class="profile-container4"></div>
		</div>
		<span class="profile-text11">
			<span></span>
			<span></span>
			<span>Jane Doe</span>
			<span></span>
		</span>
	</div>
	<form class="profile-form"></form>
	<app-footer ngClass="j-page-section"></app-footer>
</div>
