<div class="authentication-container page-container">
	<div class="j-forgot-password-section j-page-section j-auth-section">
		<a class="j-signup-btn button j-right-button" routerLink="/signup">إنشاء حساب</a>
		<a class="j-login-btn button j-left-button" routerLink="/login">تسجيل الدخول</a>
		<img alt="logo" src="/assets/external/logo.svg" class="j-app-logo"/>
		<h4 class="j-page-title">نسيت كلمة المرور</h4>
		<form class="j-form" #forgotForm="ngForm" (ngSubmit)="forgotForm.form.valid ? sendResetCode() : false">
			<div class="j-form-group" [ngClass]="{invalid: forgotForm.submitted && mobile.invalid && (mobile.dirty || mobile.touched || forgotForm.submitted)}">
				<label for="mobile" class="j-inputbox-label j-flex-row-reverse">
					<span>Mobile Number</span>
					<span class="j-error" *ngIf="mobile.errors" translate>
						<ng-container *ngIf="mobile.errors.required">Required!</ng-container>
						<ng-container *ngIf="mobile.errors.pattern">Wrong phone number format!</ng-container>
					</span>
				</label>
				<div class="j-input-icons j-input-icon-right">
					<input type="text" class="j-inputbox" [(ngModel)]="user.mobile" id="mobile" name="mobile" aria-describedby="mobileHelp" placeholder="Mobile Number" required  #mobile="ngModel" pattern = '[- +()0-9]+'> 
					<i class="j-icon j-icon-right j-icon-phone"></i>
				</div>
			</div>
			<div class="j-form-group" [ngClass]="{invalid: forgotForm.submitted && client_id.invalid && (client_id.dirty || client_id.touched || forgotForm.submitted)}">
				<label for="client_id" class="j-inputbox-label j-flex-row-reverse">
					<span>Client ID</span>
					<span class="j-error" *ngIf="client_id.errors" translate>
						<ng-container *ngIf="client_id.errors.required">Required!</ng-container>
						<ng-container *ngIf="client_id.errors.min">Invaild ID</ng-container>
					</span>
				</label>
				<div class="j-input-icons j-input-icon-right">
					<input type="number" ngSpinBox  class="j-inputbox" [(ngModel)]="user.client_id" id="client_id" name="client_id" aria-describedby="client_idHelp" placeholder="Client ID" required  #client_id="ngModel" min = 0 > 
					
					<i class="j-icon j-icon-right j-icon-person"></i>
				</div>
			</div>
			<a routerLink="/reset-password" class="small text-white mt-3 j-text-hover">I have a reset code</a>
			<div class="j-form-group">
				<button type="submit" class="j-left-button button j-submit-button" [class.loading]="submitting"><span>ارسال كود التحقق</span></button>
			</div>
		</form>
	</div>
</div>
