<div class="authentication-container page-container">
	<div class="j-forgot-password-section j-page-section j-auth-section">
		<a class="j-signup-btn button j-right-button" routerLink="/signup">إنشاء حساب</a>
		<a class="j-login-btn button j-left-button" routerLink="/login">تسجيل الدخول</a>
		<img alt="logo" src="/assets/external/logo.svg" class="j-app-logo"/>
		<h4 class="j-page-title">نسيت كلمة المرور</h4>
		<form class="j-form">
			<div class="j-form-group">
				<label for="email" class="j-inputbox-label">البريد الإلكتروني</label>
				<div class="j-input-icons">
					<input type="email" name="email" class="j-inputbox" id="email" aria-describedby="emailHelp" placeholder="البريد الإلكتروني" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$" minlength="6">
					<i class="j-icon j-icon-automark"></i>
				</div>
			</div>
			<div class="j-form-group">
				<button type="submit" class="j-left-button button j-submit-button"><span>ارسال كود التحقق</span></button>
			</div>
		</form>
	</div>
</div>
