<div class="authentication-container page-container">
	<div class="j-login-section j-page-section j-auth-section">
		<div class="j-signup-btn">
			<app-polygon-border-div j-class="j-left">
				<a class="j-btn" [routerLink]="['/signup']">{{'Create_account'|translate}}</a>
			</app-polygon-border-div>
		</div>
		<!-- <a class="j-language-btn button j-right-button"><i class="j-icon i-icon-earth"></i></a> -->

		<div class="j-language-btn">
			<app-polygon-border-div j-class="j-right">
				<div class="language-icon">
					<i class="j-icon j-icon-earth"></i>
				</div>
				<div class="lang-list text-white">
					<div class="lang-item" *ngFor="let option of languages" (click)="changeLang(option)" >{{option.country}}</div>
				</div>
			</app-polygon-border-div>
		</div>

		<a [routerLink]="['/']">
			<img alt="logo" src="/assets/external/logo.svg" class="j-app-logo"/>
		</a>
		<h4 class="j-page-title">{{'sign in'|translate}}</h4>
		<form class="j-form" (keydown.enter)="signForm.form.valid ? login(true) : false" #signForm="ngForm" (ngSubmit)="signForm.form.valid ? login() : false">
		<!-- <form class="j-form" #signForm="ngForm"> -->
			<!-- <div class="j-form-group" [ngClass]="{invalid: signForm.submitted && email.invalid && (email.dirty || email.touched || signForm.submitted)}">
				<label for="email" class="j-inputbox-label">البريد الإلكتروني</label>
				<div class="j-input-icons j-input-icon-right">
					<input type="email" class="j-inputbox" [(ngModel)]="user.email" id="email" name="email" aria-describedby="emailHelp" placeholder="البريد الإلكتروني" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$" #email="ngModel"> 
					<i class="j-icon j-icon-right j-icon-automark"></i>
					<span class="error" *ngIf="email.errors" translate>
						<ng-container *ngIf="email.errors.required">Email Required</ng-container>
						<ng-container *ngIf="email.errors.pattern">Invalid Email</ng-container>
					</span>
				</div>
			</div> -->
			<div class="j-form-group" [ngClass]="{invalid: signForm.submitted && mobile.invalid && (mobile.dirty || mobile.touched || signForm.submitted)}">
				<label for="mobile" class="j-inputbox-label j-flex-row-reverse">
					<span>{{'Mobile Number'|translate}}</span>
					<span class="j-error" *ngIf="mobile.errors" translate>
						<ng-container *ngIf="mobile.errors.required">{{'Required'|translate}}!</ng-container>
						<ng-container *ngIf="mobile.errors.pattern">{{'Wrong_format'|translate}}!</ng-container>
					</span>
				</label>
				<div class="j-input-icons j-input-icon-right">
					<input type="text" class="j-inputbox" tabindex = "1" [(ngModel)]="user.mobile" id="mobile" name="mobile" aria-describedby="mobileHelp" placeholder="Mobile Number" required  #mobile="ngModel" pattern = '^05\d{8}$'> 
					<i class="j-icon j-icon-right j-icon-phone"></i>
				</div>
			</div>
	
			<div class="j-form-group" [ngClass]="{invalid: signForm.submitted && password.invalid && (password.dirty || password.touched || signForm.submitted)}">
				<label for="password" class="j-inputbox-label j-flex-row-reverse">
					<span>{{'Password'|translate}}</span>
					<span class="j-error" *ngIf="password.errors" translate>
						<ng-container *ngIf="password.errors.required">{{'Required'|translate}}!</ng-container>
					</span>
				</label>
				<div class="j-input-icons j-input-icon-right">
					<input type="password" class="j-inputbox" id="password" name="password" tabindex = "3" [(ngModel)]="user.password" placeholder="{{'password' | translate}}" #password="ngModel" required>
					<i class="j-icon j-icon-right j-icon-key"></i>
				</div>
			</div>
			<a class="forgot-password-btn" [routerLink]="['/forgot-password']" tabindex = "5">{{'Forgot_password'|translate}}</a>
			<div class="j-form-group">
				<button type="submit" class="j-left-button button j-submit-button" tabindex = "4" [class.loading]="submitting"><span>{{'sign in'|translate}}</span></button>
			</div>
		</form>
	</div>
</div>
