<div class="products-container">
	<app-header page_name="products" ngClass="j-page-section"></app-header>
	<div class="products-banner">
		<h1 class="products-text13">3 Days Will Be Enough!</h1>
		<span class="products-text14">
			<br />
			<span>
				Whether your fitness goals include weight loss, toning up, building
				muscle, or improving strength and endurance, we&apos;ve got you covered.
				Our gym offers the widest variety of fitness classes and group exercises
				to help you achieve your goals in a friendly and supportive environment.
				Our team of top-notch instructors will provide you with the motivation
				you need to succeed.
			</span>
			<br />
			<br />
			<span>
				At 3Days Gym, we understand that your schedule may not always align with
				our class timetable. That&apos;s why all our locations are open 24/7.
			</span>
			<br />
			<span><span [innerHTML]="rawdnp2"></span></span>
			<br />
			<span>
				Take a look through our products list below, explore our timetable, and
				join us today to experience the best fitness classes in the Saudi
				Arabia. With our three classes per week, you&apos;ll be well on your way
				to achieving your fitness aspirations. Don&apos;t wait any longer—start
				your fitness journey at 3Days Gym now!
			</span>
			<br />
		</span>
		<div class="products-btn-group1"></div>
	</div>
	<div class="products-pricing">
		<div class="products-container03">
			<div class="products-container04">
				<div class="products-container05">
					<span class="products-text25">1 Month</span>
					<span class="products-text26">1200</span>
					<span class="products-text27">3 Classes/week</span>
					<span class="products-text28">Personal Trainers</span>
					<span class="products-text29">Flexible Timeline</span>
					<button class="products-button button">Select</button>
				</div>
				<div class="products-container06">
					<span class="products-text30">3 Months</span>
					<span class="products-text31">3400</span>
					<span class="products-text32">
						<span class="products-text33">10</span>
						<span>Classes</span>
					</span>
					<span class="products-text35">Personal Trainers</span>
					<span class="products-text36">Flexible Timeline</span>
					<button class="products-button1 button">
						<span>
							<span>Select</span>
							<br />
						</span>
					</button>
				</div>
				<div class="products-container07">
					<span class="products-text40">6 Months</span>
					<span class="products-text41">6000</span>
					<span class="products-text42">10 Classes</span>
					<span class="products-text43">Personal Trainers</span>
					<span class="products-text44">Flexible Timeline</span>
					<button class="products-button2 button">Select</button>
				</div>
				<div class="products-container08">
					<span class="products-text45">1 Year</span>
					<span class="products-text46">8000</span>
					<span class="products-text47">
						<span class="products-text48">100</span>
						<span>Projects</span>
					</span>
					<span class="products-text50">Personal Trainers</span>
					<span class="products-text51">Flexible Timeline</span>
					<button class="products-button3 button">Select</button>
				</div>
			</div>
		</div>
	</div>
	<app-footer ngClass="j-page-section"></app-footer>
</div>
