<app-header page_name="products" ngClass="j-page-section"></app-header>
<div class="container">
	<div class="products-container j-front-page page-container">
		<div class="page-title mb-5 mt-5">
			<h3 class="j-title-size gwTColor">{{'Products'|translate}}</h3>
		</div>
		<div class="select-product-tab-panel j-left-button mb-4">
			<div class="p-2 d-flex">
				<div class="pt-tab select-product-tab j-left-button" [ngClass]="{'active' : selected_tab == 1}" (click)="selectTab(1)">{{"Personal_Training" | translate}}</div>
				<div class="subs-tab select-product-tab j-left-button" [ngClass]="{'active' : selected_tab == 2}" (click)="selectTab(2)">{{"Subscriptions" | translate}}</div>
			</div>
		</div>
		<div class="j-pts-tab" *ngIf = 'selected_tab == 1'>
			<div class="j-pts-list row">
				<div class="j-pts-item col-md-6 col-12" *ngFor="let personalTraining of personalTrainings;let i = index">
					<app-product-item [product] = "personalTraining"></app-product-item>
				</div>
			</div>
		</div>
		<div class="j-subs-tab" *ngIf = 'selected_tab == 2'>
			<div class="j-subs-list row">
				<div class="j-subs-item col-md-6 col-12" *ngFor="let subscription of subscriptions;let i = index">
					<app-product-item [product] = "subscription"></app-product-item>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer ngClass="j-page-section"></app-footer>