<div class="authentication-container page-container">
	<div class="j-signup-section j-page-section j-auth-section">
		<ng-container *ngIf="!isStarted">
			<div class="j-signup-splash-section">
				<h5 class="j-page-title mb-5">{{'Create_account'|translate}}</h5>
				<div class="j-page-content">
					<a routerLink="/" class="mb-2">
						<img alt="logo" src="/assets/external/logo.svg" class="j-app-logo"/>
					</a>
					<h4 class="j-page-text mb-2">{{'ready'|translate}}</h4>
					<p class="j-page-text">{{'join_com'|translate}}</p>
					<button type="button" class="j-left-button button j-start-button" (click)="startJourney()"><span>{{'Start your experiment'|translate}}</span></button>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="isCompleted">
			<div class="j-signup-splash-section">
				<h5 class="j-page-title mb-5">{{'Create_account'|translate}}</h5>
				<div class="j-page-content">
					<a routerLink="/" class="mb-2">
						<img alt="logo" src="/assets/external/logo.svg" class="j-app-logo"/>
					</a>
					<h4 class="j-page-text mb-2">{{'Congratulations'|translate}}</h4>
					<p class="j-page-text">{{'success'|translate}}: MAV34522</p>
					<a type="button" class="j-left-button button j-complete-button" routerLink = "/"><span>{{'Back to main'|translate}}</span></a>
				</div>
			</div>
		</ng-container>
		<form class="j-form" *ngIf="isStarted && !isCompleted" #signupForm="ngForm" (ngSubmit)="isSubmitted && signupForm.form.valid ? signup() : false">
			<div class="j-signup-process">
				<app-page-tab [tabs]="tabs" [selected]="selectedTab" (onChange)="changeTab($event)" class="pl-0 rounded-0 j-tab-bar">
				</app-page-tab>
				<div class="j-tab-content">
					<ng-container *ngIf="selectedTab.label == 'gender'">
						<div class="j-content-wrap">
							<h4 class="j-page-text mb-2">{{'sex'|translate}}</h4>
							<p class="j-page-text">{{'sel_category'|translate}}:</p>
							<div class="j-gender-wrap">
								<app-polygon-border-div j-class = 'j-left' class="j-gender-option" [ngClass]='{active: user.gender == "male" }'>
									<label class="j-gender-option-card male-option" for="male-option" (click)="setGenderOption('male')" >
										<div class="gender-img"></div>
										<div class="gender-label">{{'men'|translate}}</div>
										<div class="option_btn">
											<input type="radio" id="male-option" name = "gender" value="male"   [checked]="user.gender == 'male'" >
										</div>
									</label>
								</app-polygon-border-div>
								<app-polygon-border-div j-class = 'j-left' class="j-gender-option" [ngClass]='{active: user.gender == "female" }'>
									<label class="j-gender-option-card female-option" for="female-option" (click)="setGenderOption('female')" >
										<div class="gender-img"></div>
										<div class="gender-label">{{'women'|translate}}</div>
										<div class="option_btn">
											<input type="radio" id="female-option" name = "gender" value="female"  [checked]="user.gender == 'female'">
										</div>
									</label>
								</app-polygon-border-div>
								<app-polygon-border-div j-class = 'j-left' class="j-gender-option" [ngClass]='{active: user.gender == "kids" }'>
									<label class="j-gender-option-card kids-option" for="kids-option" (click)="setGenderOption('kids')" >
										<div class="gender-img"></div>
										<div class="gender-label">{{'sprouts'|translate}}</div>
										<div class="option_btn">
											<input type="radio" id="kids-option" name = "gender" value="kids"  [checked]="user.gender == 'kids'">
										</div>
									</label>
								</app-polygon-border-div>
							</div>
						</div>
						<div class="go-btn-group">
							<a class="btn j-next-btn j-left-button" (click)="nextTab('gender')">التالي</a>
							<app-polygon-border-div j-class = 'j-right'><a class="btn j-prev-btn" (click)="prevTab('gender')">{{'previous'|translate}}</a></app-polygon-border-div>
						</div>
					</ng-container>
					<ng-container *ngIf="selectedTab.label == 'site'">
						<div class="j-content-wrap">
							<h4 class="j-page-text mb-2">{{'site'|translate}}</h4>
							<p class="j-page-text">{{'location'|translate}}:</p>
							<div class="j-site-wrap">
								<app-polygon-border-div j-class = "j-left" class="j-site-option" [ngClass]='{active: site_option == "manual" }'>
									<label class="j-site-option-card manual-option" for="manual-option" (click)="setSiteOption('manual')" >
										<div class="site-img"></div>
										<div class="site-label">{{'manual'|translate}}</div>
										<div class="option_btn">
											<input type="radio" id="manual-option" name = "site-option" value="manual" [checked]="gender_option == 'manual'">
										</div>
									</label>
								</app-polygon-border-div>
								<app-polygon-border-div j-class = "j-left" class="j-site-option" [ngClass]='{active: site_option == "map" }'>
									<label class="j-site-option-card map-option" for="map-option" (click)="setSiteOption('map')" >
										<div class="site-img"></div>
										<div class="site-label">{{'map'|translate}}</div>
										<div class="option_btn">
											<input type="radio" id="map-option" name = "site-option" value="map" [checked]="gender_option == 'map'">
										</div>
									</label>
								</app-polygon-border-div>
							</div>
						</div>
						<div class="go-btn-group">
							<a class="btn j-next-btn j-left-button" (click)="nextTab('site')">{{'next'|translate}}</a>
							<app-polygon-border-div j-class = 'j-right'><a class="btn j-prev-btn" (click)="prevTab('site')">{{'previous'|translate}}</a></app-polygon-border-div>
						</div>
					</ng-container>
					<ng-container *ngIf="selectedTab.label == 'find a club'">
						<div class="j-content-wrap">
							<div class="j-club-wrap">
								<div class="j-club-map-wrap pb-md-0 pb-2" id="club-map">
									<agm-map [latitude]="lat" [longitude]="lng" class="armmap">
										<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
									</agm-map>
								</div>
								<div class="j-club-search-wrap">
									<h4 class="j-page-text mb-2">{{'Find_club'|translate}}</h4>
									<div class="j-form-group">
										<div class="j-input-icons j-input-icon-right">
											<input type="text" class="j-inputbox j-searchbox" placeholder="البحث عن طريق المدينة أو الدولة" (input)="onSearchBranch($event.target.value)">
											<i class="bi bi-search j-icon j-icon-right "></i>
										</div>
									</div>
									<div class="j-club-list-panel">
										<label class="branch_item" [ngClass]="{active:user.default_branch == club.id}"  (click)="setBranchOption(club.id)"  *ngFor="let club of clubs;let i = index">
											<app-club-branch-items [club]='club'></app-club-branch-items>
											<div class="option_btn">
												<input type="radio" name = "default_branch" value="{{club.id}}" [checked]="user.default_branch == club.id">
											</div>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="go-btn-group">
							<a class="btn j-next-btn j-left-button" (click)="nextTab('find a club')">التالي</a>
							<app-polygon-border-div j-class = 'j-right'><a class="btn j-prev-btn" (click)="prevTab('find a club')">{{'previous'|translate}}</a></app-polygon-border-div>
						</div>
					</ng-container>
					<ng-container *ngIf="selectedTab.label == 'products'">
						<div class="j-content-wrap">
							<h4 class="j-page-text mb-2">{{'products'|translate}}</h4>
							<p class="j-page-text">{{'choose_membership'|translate}}:</p>
							<div class="j-products-wrap">
								<div class="j-personal-trainings-wrap pb-md-0 pb-2">
									<div class="j-personalTrainings-list-panel j-product-list-panel">
										<h4 class="j-page-text mb-2">{{'personal training'|translate}}</h4>
										<app-polygon-border-div j-class = 'j-left' *ngFor="let personalTraining of personalTrainings;let i = index">
											<div class="personalTrainings-card j-product-card" (click)="setPTOption(personalTraining.id)"  [ngClass] = '{ active : pt_option == personalTraining.id}'>
												<p class="product_share">{{personalTraining.number_of_bookings}}</p>
												<p class="product_price">كل {{personalTraining.number_of_bookings}} حصص / <b>{{currency}} {{personalTraining.price}}</b></p>
												<p class="product_description">{{'subscribe'|translate}}.</p>
												<label class="option_btn" for="personalTraining{{personalTraining.id}}">
													<input type="radio" name="personalTraining" id="personalTraining{{personalTraining.id}}" value="{{personalTraining.id}}" class="product_opt" [checked]="pt_option == personalTraining.id">
												</label>
											</div>
										</app-polygon-border-div>
									</div>
								</div>
								<div class="j-subscriptions-wrap">
									<div class="j-subscriptions-list-panel j-product-list-panel">
										<h4 class="j-page-text mb-2">{{'Subscriptions'|translate}}</h4>
										<app-polygon-border-div j-class = 'j-right' *ngFor="let subscription of subscriptions;let i = index">
											<div class="subscriptions-card j-product-card" (click)="setSubOption(subscription.id)" [ngClass]="{active: sub_option == subscription.id}">
												<p class="product_cycle">{{subscription.period }} {{subscription.period_unit }}</p>
												<p class="product_price">{{subscription.period }} {{subscription.period_unit }} / <b>{{currency}} {{subscription.price}}</b></p>
												<p class="product_description">{{'unSubscript'|translate}}.</p>
												<label class="option_btn" for="subscription{{subscription.id}}">
													<input type="radio" name="subscription" id="subscription{{subscription.id}}" value="{{subscription.id}}" class="product_opt" [checked]="sub_option == subscription.id">
												</label>
											</div>
										</app-polygon-border-div>
									</div>
								</div>
							</div>
						</div>
						<div class="go-btn-group">
							<a class="btn j-next-btn j-left-button" (click)="nextTab('products')">{{'next'|translate}}</a>
							<app-polygon-border-div j-class = 'j-right'><a class="btn j-prev-btn" (click)="prevTab('products')">{{'previous'|translate}}</a></app-polygon-border-div>
						</div>
					</ng-container>
					<ng-container *ngIf="selectedTab.label == 'account'">
						<div class="j-content-wrap">
							<h4 class="j-page-text mb-2">{{'account'|translate}}</h4>
							<p class="j-page-text">{{'enter_account'|translate}}</p>
							<div class="j-account-wrap">
								<div class="j-account-panel pb-md-0 pb-2">
									<h4 class="j-page-text mb-2">{{'account'|translate}}</h4>
									<div class="j-form-group" [ngClass]="{invalid:  (stepSubmitted('account') || mobile.touched || mobile.dirty )  && mobile.invalid}">
										<label for="mobile" class="j-inputbox-label j-flex-row-reverse">
											<span>{{"Mobile Number"|translate}} </span>

											<span *ngIf ="phone_verified" class="text-success">{{"Verified"|translate}}</span>
											<span class="j-error" *ngIf="mobile.errors" translate>
												<ng-container *ngIf="mobile.errors.required">{{'Required'|translate}} !</ng-container>
												<ng-container *ngIf="mobile.errors.pattern">{{'Wrong_format|translate'}}!</ng-container>
											</span>
										</label>
										<div class="j-input-icons j-input-icon-both" [ngClass] = "{'j-verified' : phone_verified}">
											<i class="j-icon j-icon-left bi bi-chat-left-text" [ngClass]="{'j-clickable':!mobile.invalid}" (click) = "openConfirmDialog()"></i>
											<input type="text" class="j-inputbox" [(ngModel)]="user.mobile" id="mobile" name="mobile" aria-describedby="mobileHelp" placeholder="رقم الجوال" required  pattern = '^[- +()0-9]+' #mobile="ngModel" [readonly]="phone_verified"> 
											<i class="j-icon j-icon-right j-icon-phone"></i>
										</div>
									</div>
									<div class="j-form-group" [ngClass]="{invalid: (stepSubmitted('account') || email.touched || email.dirty ) && email.invalid}">
										<label for="email" class="j-inputbox-label j-flex-row-reverse">
											<span>Email</span>
											<span class="j-error" *ngIf="email.errors" translate>
												<ng-container *ngIf="email.errors.required">{{'Required'|translate}} !</ng-container>
												<ng-container *ngIf="email.errors.pattern">Wrong email format !</ng-container>
											</span>
										</label>
										<div class="j-input-icons j-input-icon-right">
											<input type="email" class="j-inputbox" id="email" [(ngModel)]="user.email" name = "email" aria-describedby="emailHelp" placeholder="البريد الإلكتروني" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$" #email="ngModel"> 
											<i class="j-icon j-icon-right j-icon-automark"></i>
										</div>
									</div>
									<div class="j-form-group" [ngClass]="{invalid:  (stepSubmitted('account') || password.touched || password.dirty ) && password.invalid}">
										<label for="password" class="j-inputbox-label j-flex-row-reverse">
											<span>{{'password'|translate}}</span>
											<span class="j-error" *ngIf="password.errors" translate>
												<ng-container *ngIf="password.errors.required">{{'Required'|translate}} !</ng-container>
											</span>
										</label>
										<div class="j-input-icons j-input-icon-right">
											<input type="password" class="j-inputbox" [(ngModel)]="user.password" id="password" name ="password" placeholder="كلمة المرور" #password="ngModel" required>
											<i class="j-icon j-icon-right j-icon-key"></i>
										</div>
									</div>
									<div class="j-form-group" [ngClass]="{invalid: (stepSubmitted('account') || confirmPassword.touched || confirmPassword.dirty ) && (confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty ) || confirm_password != user.password )}">
										<label for="confirmPassword" class="j-inputbox-label j-flex-row-reverse">
											<span>
												{{'confirm password'|translate}}
											</span>
											<span class="j-error" *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty ) || confirm_password != user.password">
												<ng-container>{{"Password doesn't match"|translate}} !</ng-container>
											</span>
										</label>
										<div class="j-input-icons j-input-icon-right">
											<input type="password" class="j-inputbox" [(ngModel)]="confirm_password" id="confirmPassword" name = "confirmPassword" placeholder="تأكيد كلمة المرور" #confirmPassword="ngModel" required>
											<i class="j-icon j-icon-right j-icon-key"></i>
										</div>
									</div>
									<div class="j-form-group" [ngClass]="{invalid: (stepSubmitted('account') || agree_terms_conditions.touched || agree_terms_conditions.dirty ) && agree_terms_conditions.invalid}">
										<div class="agree_terms_conditions j-flex-row-reverse justify-content-between">
											<div>
												<span>{{'I agree'|translate}} </span>
												<a class="j-tc-link" href="/terms-conditions" target="_blank">{{'Terms and Conditions'|translate}}</a> 
												<input type="checkbox" name="agree_terms_conditions" class="agree_terms_conditions_checkbox ml-2" [(ngModel)]="agree_terms_conditions_checkbox" #agree_terms_conditions="ngModel" required>
											</div>
											<span class="j-error" *ngIf="agree_terms_conditions.errors">
												{{'Required'|translate}} !
											</span>
										</div>
									</div>
								</div>
								<div class="j-profile-panel">
									<h4 class="j-page-text mb-2">{{'Personal data'|translate}}</h4>
									<div class="j-name-field">
										<div class="j-first-name-field j-form-group" [ngClass]="{invalid: (stepSubmitted('account') || first_name.touched || first_name.dirty ) && first_name.invalid}">
											<label for="first_name" class="j-inputbox-label j-flex-row-reverse">
												<span>{{'family name'|translate}}</span>
												<span class="j-error" *ngIf="first_name.errors" translate>
													<ng-container *ngIf="first_name.errors.required">{{'Required'|translate}} !</ng-container>
												</span>
											</label>
											<div class="j-input-icons j-input-icon-right">
												<input type="first_name" class="j-inputbox" id="first_name" name="first_name" aria-describedby="first_nameHelp" placeholder="اسم العائلة" [(ngModel)]="user.first_name" #first_name="ngModel" required> 
												<i class="j-icon j-icon-right j-icon-person"></i>
											</div>
										</div>
										<div class="j-last-name-field j-form-group" [ngClass]="{invalid: (stepSubmitted('account') || last_name.touched || last_name.dirty ) && last_name.invalid}">
											<label for="last_name" class="j-inputbox-label j-flex-row-reverse">
												<span>{{'First Name'|translate}}</span>
												<span class="j-error" *ngIf="last_name.errors">
													<ng-container *ngIf="last_name.errors.required">{{'Required'|translate}} !</ng-container>
												</span>
											</label>
											<div class="j-input-icons j-input-icon-right">
												<input type="last_name" class="j-inputbox" id="last_name" name="last_name" aria-describedby="last_nameHelp" placeholder="الاسم الأول" [(ngModel)]="user.last_name" #last_name="ngModel" required> 
												<i class="j-icon j-icon-right j-icon-person"></i>
											</div>
										</div>
									</div>
									<div class="j-form-group" [ngClass]="{invalid: (stepSubmitted('account') || national_id.touched || national_id.dirty ) && national_id.invalid}">
										<label for="national_id" class="j-inputbox-label j-flex-row-reverse" >
											<span>{{'ID Number'|translate}}</span>
											<span class="j-error" *ngIf="national_id.errors">
												<ng-container *ngIf="national_id.errors.required">{{'Required'|translate}} !</ng-container>
											</span>
										</label>
										<div class="j-input-icons j-input-icon-right">
											<input type="text" class="j-inputbox" id="national_id" name = "national_id" placeholder="رقم الهوية" [(ngModel)]="user.national_id" #national_id="ngModel" required>
											<i class="j-icon j-icon-right j-icon-idcard"></i>
										</div>
									</div>
									<div class="j-form-group"  [ngClass]="{invalid: (stepSubmitted('account') || dob.touched || dob.dirty ) && dob.invalid}">
										<label for="dob" class="j-inputbox-label j-flex-row-reverse">
											<span>{{'date of birth'|translate}}</span>
											<span class="j-error" *ngIf="dob.errors">
												<ng-container *ngIf="dob.errors.required">{{'Required'|translate}} !</ng-container>
											</span>
										</label>
										<div class="j-input-icons j-input-icon-right">
											<input type="text" class="j-inputbox" id="dob" name = "dob" placeholder="تاريخ الميلاد" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" [(ngModel)]="user.dob" #dob="ngModel" required>
											<i class="j-icon j-icon-right j-icon-calendar"></i>
										</div>
									</div>
									<div class="j-form-group" [ngClass]="{invalid: (stepSubmitted('account') || subscription_day.touched || subscription_day.dirty ) && subscription_day.invalid}">
										<label for="subscription_day" class="j-inputbox-label j-flex-row-reverse">
											<span>{{'Subscription start date'|translate}}</span>
											<span class="j-error" *ngIf="subscription_day.errors">
												<ng-container *ngIf="subscription_day.errors.required">{{'Required'|translate}} !</ng-container>
											</span>
										</label>
										<div class="j-input-icons j-input-icon-right">
											<input type="text" class="j-inputbox" id="subscription_day" name = "subscription_day" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" placeholder="تاريخ بدء الاشتراك" [(ngModel)]="user.subscription_day" #subscription_day="ngModel" required>
											<i class="j-icon j-icon-right j-icon-calendar"></i>
										</div>
									</div>
									<div class="j-form-group">
										<label for="promotional_code" class="j-inputbox-label j-flex-row-reverse">
											<span>{{'Promotional code'|translate}}</span>
										</label>
										<div class="j-input-icons j-input-icon-right">
											<input type="text" class="j-inputbox" id="promotional_code" name = "promotional_code" placeholder="الكود الترويجي" [(ngModel)]="user.promotional_code" #promotional_code="ngModel">
											<i class="j-icon j-icon-right bi bi-person-lock"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="go-btn-group">
							<a class="btn j-next-btn j-left-button" (click)="nextTab('account')">التالي</a>
							<app-polygon-border-div j-class = 'j-right'><a class="btn j-prev-btn" (click)="prevTab('account')">{{'previous'|translate}}</a></app-polygon-border-div>
						</div>
					</ng-container>
					<ng-container *ngIf="selectedTab.label == 'payment'">
						<div class="j-content-wrap">
							<h4 class="j-page-text mb-2">{{'paying_off'|translate}}</h4>
							<p class="j-page-text">{{'payment_info'|translate}}:</p>
							<div class="j-payment-wrap">
								<div class="j-form-group" [ngClass]="{invalid:  (stepSubmitted('payment') || card_number.touched || card_number.dirty )  && card_number.invalid}">
									<label for="card_number" class="j-inputbox-label j-flex-row-reverse">
										<span>رقم البطاقة</span>
										<span class="j-error" *ngIf="card_number.errors" translate>
											<ng-container *ngIf="card_number.errors.required">{{'Required'|translate}} !</ng-container>
											<ng-container *ngIf="card_number.errors.pattern">{{'Wrong_format'|translate}} !</ng-container>
										</span>
									</label>
									<div class="j-input-icons j-input-icon-left">
										<i class="j-icon j-icon-left j-clickable j-icon-visacard"></i>
										<input type="text" class="j-inputbox" id="card_number" name = "card_number" placeholder="رقم البطاقة" required  pattern = '^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|6(?:011|5[0-9]{2})[0-9]{12}(?:2131|1800|35\d{3})\d{11})$'  [(ngModel)]="user.card_number" #card_number="ngModel">
									</div>
								</div>
								<div class="j-expired-date-field">
									<div class="j-cvv-field j-form-group" [ngClass]="{invalid:  (stepSubmitted('payment') || cvv.touched || cvv.dirty )  && cvv.invalid}">
										<label for="cvv" class="j-inputbox-label j-flex-row-reverse">
											<span>CVV</span>
											<span class="j-error" *ngIf="cvv.errors" translate>
												<ng-container *ngIf="cvv.errors.required">{{'Required'|translate}}</ng-container>
												<ng-container *ngIf="cvv.errors.pattern">{{'Wrong_format'|translate}}!</ng-container>
											</span>
										</label>
										<input type="cvv" class="j-inputbox" id="cvv" name="cvv" aria-describedby="cvvHelp" placeholder="CVV" required pattern = '^[0-9]{3,4}$'  [(ngModel)]="user.cvv" #cvv="ngModel" maxlength="4"> 
									</div>
									<div class="j-date-year-field j-form-group" [ngClass]="{invalid:  (stepSubmitted('payment') || date_year.touched || date_year.dirty )  && date_year.invalid}">
										<label for="date_year" class="j-inputbox-label j-flex-row-reverse">
											<span>{{'year'|translate}}</span>
											<span class="j-error" *ngIf="date_year.errors" translate>
												<ng-container *ngIf="date_year.errors.required">{{'Required'|translate}} !</ng-container>
												<ng-container *ngIf="date_year.errors.pattern">{{'Wrong_format'|translate}} !</ng-container>
											</span>
										</label>
										<input type="text" class="j-inputbox" id="date_year" name="date_year" aria-describedby="date_yearHelp" placeholder="السنة" required pattern = '^(?:20(?:2[3-9]|[3-9][\d])|2[1-9][\d]{2}|[3-9][\d]{3})$'  [(ngModel)]="user.date_year" #date_year="ngModel"> 
									</div>
									<div class="j-date-month-field j-form-group" [ngClass]="{invalid:  (stepSubmitted('payment') || date_month.touched || date_month.dirty )  && date_month.invalid}">
										<label for="date_month" class="j-inputbox-label j-flex-row-reverse">
											<span>الشهر</span>
											<span class="j-error" *ngIf="date_month.errors" translate>
												<ng-container *ngIf="date_month.errors.required">{{'Required'|translate}} !</ng-container>
												<ng-container *ngIf="date_month.errors.pattern">{{'Wrong_format'|translate}} !</ng-container>
											</span>
										</label>
										<input type="text" class="j-inputbox" id="date_month" name="date_month" aria-describedby="date_monthHelp" placeholder="الشهر" required pattern = '^(0?[1-9]|1[012])$'  [(ngModel)]="user.date_month" #date_month="ngModel"> 
									</div>
								</div>
								<div class="j-form-group">
									<p class="save_payment_info">{{'save_payment'|translate}}<input type="checkbox" name="save_payment_info" class="save_payment_info_checkbox ml-2" required></p>
								</div>
							</div>
						</div>
						<div class="go-btn-group">
							<a class="btn j-next-btn j-left-button" (click)="nextTab('payment')">{{'next'|translate}}</a>
							<app-polygon-border-div j-class = 'j-right'><a class="btn j-prev-btn" (click)="prevTab('payment')">{{'previous'|translate}}</a></app-polygon-border-div>
						</div>
					</ng-container>
				</div>
			</div>
		</form>
	</div>
</div>
