<mat-dialog-content  class="j-referral-code modal-container j-front-page">
    <div class="j-inner-wrap">
        <h4 class="j-tinySubtitle-size gdTColor mb-4 mt-4">{{'Promotional_code'|translate}}</h4>
        <div class="d-flex flex-row-reverse">
            <app-polygon-border-div j-class="j-left">
                <div class="j-item-img j-type-icon" style="background-image: url(/assets/img/twoperson.svg);"></div>
            </app-polygon-border-div>
        </div>
        <h3 class="j-smalltitle-size mb-4 mt-4 text-white text-uppercase">{{referral_code}}</h3>
        <p class="gwTColor j-tsSize">{{'share_code_25%'|translate}}</p>
        <p class="gwTColor j-tsSize flex-row-reverse"><span class="gdTColor">{{'code_used_number'|translate}}</span> <span> {{data.count}}</span></p>
        <div class="j-select mt-4">
            <div class="j-form-group">
                <button type="button" class="j-left-button j-submit-button" (click)="copyToClipboard()"><span>{{'Code_sharing'|translate}}</span></button>
            </div>
        </div>
    </div>
</mat-dialog-content>