<div class="home-container">
	<app-header page_name="home" ngClass="j-page-section"></app-header>
	<div class="home-introduction-section">
		<video muted loop class="background-video" autoplay>
			<source src="https://player.vimeo.com/external/371817283.sd.mp4?s=56639e00db07ad3f26d837314e3da531bad01b1b&amp;profile_id=164&amp;oauth2_token_id=57447761"  type="video/mp4">
			<!-- <source src="../../../assets/bg/rain.mp4" type="video/mp4"> -->
		</video>
		<div class="home-introduction">
			<h1 class="home-text11">
				<span>
					{{'3Day_Enough'|translate}}
					<span [innerHTML]="rawh6dp"></span>
				</span>
				<br />
			</h1>
			<span class="home-text14">
				<br />
				<span>
					{{'alerts'|translate}}
				</span>
			</span>
			<div class="home-btn-group1" *ngIf = "!is_authenticated">
				<a class="home-button button j-left-button" href="/signup">{{'Create an acccount'|translate}}</a>
				<a class="home-button1 home-login-btn button j-right-button" href="/login">{{'Sign in'|translate}}</a>
			</div>
		</div>
	</div>
	<div class="home-introduction1">
		<h1 class="home-text17">Let&apos;s keep things organized</h1>
		<span class="home-text18">
			<span>
				<span>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
					volutpat turpis.
					<span [innerHTML]="rawf4zp"></span>
				</span>
				<span><span [innerHTML]="rawwas1"></span></span>
			</span>
			<br />
			<span>
				<span>
					Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
					<span [innerHTML]="rawbzek"></span>
				</span>
				<span><span [innerHTML]="rawiiqk"></span></span>
			</span>
		</span>
		<div class="home-btn-group2">
			<button class="home-button2 button">Join US</button>
			<button class="home-button3 button">Learn More</button>
		</div>
	</div>
	<div class="home-features">
		<h1 class="home-text25">All these impressive features</h1>
		<div class="home-container3">
			<feature-card2 rootClassName="rootClassName"></feature-card2>
			<feature-card2 rootClassName="rootClassName3"></feature-card2>
			<feature-card2 rootClassName="rootClassName2"></feature-card2>
			<feature-card2 rootClassName="rootClassName1"></feature-card2>
		</div>
	</div>
	<div class="home-trainers">
		<gallery-card12
			title="Corne Hoffman"
			subtitle="Corne هو مدرب لياقة بدنية دولي معيمد , وبخترة 4 سنوات في محال تدريب الـCrossfit وحاصل علي شهادتتن (ITEC certificate of , ITEC certificate Diploma in Fitness Instructing )diploma in sport Massage therapy"
			image_src="/assets/trainers/6-1500w.jpg"
			rootClassName="rootClassName"
		></gallery-card12>
		<gallery-card12
			title="Marcos Julius"
			subtitle="Marcos هو مدرب Crossfit محترف ولديه خترة 5 سنوات هنا في المملكة العربية السعودية , وحاصل علي شهادة CF في التحكيم و التعليم."
			image_src="/assets/trainers/9-1500w.jpg"
			rootClassName="rootClassName1"
		></gallery-card12>
		<gallery-card12
			title="Pamela Camila de Souza Nogueira"
			subtitle="Pamela لديه خترة 4 سنوات في محال التدريب وشهادة بكالوريوس في التربية البدنية, حاصله علي شهادة CWB Gymnastics و شهادة الـCF للمستوى الأول و الثاني."
			image_src="/assets/trainers/8-1500w.jpg"
			rootClassName="rootClassName2"
		></gallery-card12>
		<gallery-card12
			title="Keila Guedes"
			subtitle="Keila تحمل شهادة البكالوريوس في التربية البدنية و شهادة CF في التحكيم و التدريب , و خترتها 8 سنوات في تمارين القوة و 4 سنوات كمدربة CrossFit."
			image_src="/assets/trainers/r6220074-1500w.jpg"
			rootClassName="rootClassName3"
		></gallery-card12>
		<gallery-card12
			title="Rasim safarov"
			subtitle="Rasim خترته في محال التدريب 7 سنوات في عدة دول (أوكرانيا , أذربيحان , الكويت) وأيضا هنا في الملكة العربية السعودية ."
			image_src="/assets/trainers/r6220036-1500w.jpg"
			rootClassName="rootClassName4"
		></gallery-card12>
		<gallery-card12
			title="Camila souza"
			subtitle="Camila مدربة معيمدة بخترة 11 سنة في اللياقة البدنية و تمارين الـCrossfit , وهي تحمل شهادة البكالوريوس في اللياقة البدنية و شهادة CF للمستوى الأول."
			image_src="/assets/trainers/r6220065-1500w.jpg"
			rootClassName="rootClassName5"
		></gallery-card12>
	</div>
	<div class="home-classes">
		<blog-post-card4
			label="Kids Academy"
			image_src="/assets/classes/3days%20kids%20acedmy-min-1500w.jpg"
			rootClassName="rootClassName1"
		></blog-post-card4>
		<div class="home-container4">
			<blog-post-card4
				label="Cross training"
				image_src="/assets/classes/cross%20training-min-1500w.jpg"
				rootClassName="rootClassName2"
			></blog-post-card4>
			<blog-post-card4
				label="VO2"
				image_src="/assets/classes/vo2-min-1500w.jpg"
				rootClassName="rootClassName3"
			></blog-post-card4>
		</div>
		<blog-post-card4
			label="FULL SHAP"
			image_src="/assets/classes/full%20shap-min-1500w.png"
			rootClassName="rootClassName4"
		></blog-post-card4>
	</div>
	<app-footer ngClass="j-page-section"></app-footer>
</div>
