:host { 
	display: contents; 
}
.home-container {
	width: 100%;
	display: flex;
	overflow: auto;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	background-color: var(--dl-color-gray-black);
}
.home-navbar-interactive {
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	padding-top: var(--dl-space-space-twounits);
	padding-left: var(--dl-space-space-threeunits);
	padding-right: var(--dl-space-space-threeunits);
	padding-bottom: var(--dl-space-space-twounits);
	justify-content: space-between;
}
.home-logo {
	height: 2rem;
}
.home-desktop-menu {
	display: flex;
}
.home-nav {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.home-text {
	color: var(--dl-color-primary-3days);
	text-decoration: none;
}
.home-navlink {
	color: var(--dl-color-primary-3days);
	margin-left: var(--dl-space-space-twounits);
	text-decoration: none;
}
.home-text01 {
	color: var(--dl-color-primary-3days);
	margin-left: var(--dl-space-space-twounits);
}
.home-navlink1 {
	color: var(--dl-color-primary-3days);
	margin-left: var(--dl-space-space-twounits);
	text-decoration: none;
}
.home-text02 {
	color: var(--dl-color-primary-3days);
	margin-left: var(--dl-space-space-twounits);
}
.home-btn-group {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.home-login {
	border-width: 0px;
	margin-right: var(--dl-space-space-twounits);
	background-color: var(--dl-color-primary-3days);
}
.home-mobile-menu {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	display: flex;
	padding: 32px;
	z-index: 100;
	position: fixed;
	transform: translateX(100%);
	transition: 0.5s;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
}
.home-nav1 {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.home-container1 {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: var(--dl-space-space-threeunits);
	justify-content: space-between;
}
.home-image {
	height: 2rem;
}
.home-menu-close {
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-icon {
	width: var(--dl-size-size-xsmall);
	height: var(--dl-size-size-xsmall);
}
.home-nav2 {
	flex: 0 0 auto;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.home-text06 {
	margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
	margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
	margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
	margin-bottom: var(--dl-space-space-unit);
}
.home-text10 {
	margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
	flex: 0 0 auto;
	width: auto;
	display: flex;
	margin-top: var(--dl-space-space-unit);
	align-items: center;
	flex-direction: row;
}
.home-login1 {
	margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
	display: flex;
}
.home-icon02 {
	width: var(--dl-size-size-xsmall);
	height: var(--dl-size-size-xsmall);
	margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
	width: var(--dl-size-size-xsmall);
	height: var(--dl-size-size-xsmall);
	margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
	width: var(--dl-size-size-xsmall);
	height: var(--dl-size-size-xsmall);
}
.home-burger-menu {
	display: none;
	align-items: center;
	justify-content: center;
}
.home-icon08 {
	width: var(--dl-size-size-xsmall);
	height: var(--dl-size-size-xsmall);
}
.home-introduction {
	width: 100%;
	display: flex;
	padding: var(--dl-space-space-threeunits);
	position: relative;
	min-height: 80vh;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	justify-content: center;
	background-image: url("/assets/bg/hero-bg-1500h.png");
}
.home-text11 {
	color: var(--dl-color-gray-white);
	font-size: 3rem;
}
.home-text14 {
	color: var(--dl-color-gray-white);
	margin-top: var(--dl-space-space-twounits);
	margin-bottom: var(--dl-space-space-twounits);
}
.home-btn-group1 {
	display: flex;
	align-items: center;
	flex-direction: row;
}
.home-button {
	font-size: 0.75rem;
	transition: 0.3s;
	padding-top: var(--dl-space-space-unit);
	border-width: 0px;
	padding-left: var(--dl-space-space-twounits);
	padding-right: var(--dl-space-space-twounits);
	padding-bottom: var(--dl-space-space-unit);
	text-transform: uppercase;
	background-color: var(--dl-color-primary-3days);
}
.home-button:hover {
	transform: scale(1.02);
}
.home-button1 {
	color: var(--dl-color-gray-white);
	font-size: 0.75rem;
	transition: 0.3s;
	margin-left: var(--dl-space-space-unit);
	padding-top: var(--dl-space-space-unit);
	border-color: var(--dl-color-gray-white);
	padding-left: var(--dl-space-space-twounits);
	padding-right: var(--dl-space-space-twounits);
	padding-bottom: var(--dl-space-space-unit);
	text-transform: uppercase;
	background-color: transparent;
}
.home-button1:hover {
	transform: scale(1.02);
}
.home-introduction1 {
	width: 100%;
	display: none;
	padding: var(--dl-space-space-threeunits);
	position: relative;
	min-height: 80vh;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	justify-content: center;
	background-image: url("/assets/bg/hero-bg-1500h.png");
}
.home-text17 {
	color: var(--dl-color-gray-white);
	font-size: 3rem;
}
.home-text18 {
	color: var(--dl-color-gray-white);
	margin-top: var(--dl-space-space-twounits);
	margin-bottom: var(--dl-space-space-twounits);
}
.home-btn-group2 {
	display: flex;
	align-items: center;
	flex-direction: row;
}
.home-button2 {
	font-size: 0.75rem;
	transition: 0.3s;
	padding-top: var(--dl-space-space-unit);
	border-width: 0px;
	padding-left: var(--dl-space-space-twounits);
	padding-right: var(--dl-space-space-twounits);
	padding-bottom: var(--dl-space-space-unit);
	text-transform: uppercase;
	background-color: var(--dl-color-primary-3days);
}
.home-button2:hover {
	transform: scale(1.02);
}
.home-button3 {
	color: var(--dl-color-gray-white);
	font-size: 0.75rem;
	transition: 0.3s;
	margin-left: var(--dl-space-space-unit);
	padding-top: var(--dl-space-space-unit);
	border-color: var(--dl-color-gray-white);
	padding-left: var(--dl-space-space-twounits);
	padding-right: var(--dl-space-space-twounits);
	padding-bottom: var(--dl-space-space-unit);
	text-transform: uppercase;
	background-color: transparent;
}
.home-button3:hover {
	transform: scale(1.02);
}
.home-features {
	display: flex;
	padding: var(--dl-space-space-threeunits);
	max-width: var(--dl-size-size-maxwidth);
	align-self: center;
	flex-direction: column;
	background-color: var(--dl-color-gray-black);
}
.home-text25 {
	color: var(--dl-color-gray-white);
	font-size: 3rem;
	margin-bottom: var(--dl-space-space-threeunits);
}
.home-container3 {
	width: 100%;
	display: grid;
	grid-gap: var(--dl-space-space-twounits);
	grid-template-columns: 1fr 1fr;
}
.home-trainers {
	width: 100%;
	display: grid;
	padding: var(--dl-space-space-threeunits);
	grid-gap: var(--dl-space-space-unit);
	max-width: var(--dl-size-size-maxwidth);
	grid-template-columns: 1fr 1fr 1fr;
}
.home-classes {
	width: 100%;
	display: flex;
	padding: var(--dl-space-space-threeunits);
	max-width: var(--dl-size-size-maxwidth);
	align-items: center;
	justify-content: space-between;
}
.home-container4 {
	width: 100%;
	height: auto;
	display: flex;
	align-items: flex-start;
	margin-left: var(--dl-space-space-twounits);
	margin-right: var(--dl-space-space-twounits);
	flex-direction: column;
	justify-content: flex-start;
}
.home-footer {
	width: 100%;
	display: flex;
	max-width: var(--dl-size-size-maxwidth);
	align-items: center;
	padding-top: var(--dl-space-space-twounits);
	padding-left: var(--dl-space-space-threeunits);
	padding-right: var(--dl-space-space-threeunits);
	flex-direction: column;
	padding-bottom: var(--dl-space-space-twounits);
	justify-content: space-between;
}
.home-container5 {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-between;
}
.home-logo1 {
	display: flex;
	max-width: var(--dl-size-size-maxwidth);
	align-items: flex-start;
	flex-direction: column;
}
.home-image1 {
	height: 2rem;
}
.home-text26 {
	color: var(--dl-color-gray-white);
	margin-top: var(--dl-space-space-oneandhalfunits);
}
.home-links-container {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-between;
}
.home-container6 {
	display: flex;
	align-items: flex-start;
	margin-right: 10rem;
	flex-direction: row;
	justify-content: space-between;
}
.home-product-container {
	flex: 0 0 auto;
	display: flex;
	align-items: flex-start;
	margin-right: 10rem;
	flex-direction: column;
	justify-content: flex-start;
}
.home-text29 {
	color: var(--dl-color-gray-900);
	font-weight: 700;
	margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text30 {
	color: var(--dl-color-gray-900);
	margin-bottom: var(--dl-space-space-unit);
}
.home-text31 {
	color: var(--dl-color-gray-900);
	margin-bottom: var(--dl-space-space-unit);
}
.home-text32 {
	color: var(--dl-color-gray-900);
	margin-bottom: var(--dl-space-space-unit);
}
.home-text33 {
	color: var(--dl-color-gray-900);
}
.home-company-container {
	flex: 0 0 auto;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
}
.home-text34 {
	color: var(--dl-color-gray-900);
	font-weight: 700;
	margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text35 {
	color: var(--dl-color-gray-900);
	margin-bottom: var(--dl-space-space-unit);
}
.home-text36 {
	color: var(--dl-color-gray-900);
	margin-bottom: var(--dl-space-space-unit);
}
.home-text37 {
	color: var(--dl-color-gray-900);
	margin-bottom: var(--dl-space-space-unit);
}
.home-text38 {
	color: var(--dl-color-gray-900);
}
.home-container7 {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
}
.home-contact {
	display: flex;
	align-items: flex-start;
	margin-bottom: var(--dl-space-space-oneandhalfunits);
	flex-direction: column;
	justify-content: flex-start;
}
.home-text39 {
	color: var(--dl-color-gray-900);
	font-weight: 700;
	margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text40 {
	color: var(--dl-color-gray-900);
	margin-bottom: var(--dl-space-space-unit);
}
.home-text41 {
	color: var(--dl-color-gray-700);
}
.home-socials {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
}
.home-text42 {
	color: var(--dl-color-gray-900);
	font-weight: 700;
	margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon-group1 {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.home-link {
	display: contents;
}
.home-icon10 {
	fill: #D9D9D9;
	width: var(--dl-size-size-xsmall);
	height: var(--dl-size-size-xsmall);
	margin-right: var(--dl-space-space-unit);
	text-decoration: none;
}
.home-link1 {
	display: contents;
}
.home-icon12 {
	fill: #D9D9D9;
	width: var(--dl-size-size-xsmall);
	height: var(--dl-size-size-xsmall);
	margin-right: var(--dl-space-space-unit);
	text-decoration: none;
}
.home-link2 {
	display: contents;
}
.home-icon14 {
	fill: #D9D9D9;
	width: var(--dl-size-size-xsmall);
	height: var(--dl-size-size-xsmall);
	text-decoration: none;
}
.home-separator {
	width: 100%;
	height: 1px;
	margin-top: var(--dl-space-space-twounits);
	margin-bottom: var(--dl-space-space-twounits);
	background-color: var(--dl-color-primary-3days);
}
.home-text43 {
	color: var(--dl-color-gray-white);
	align-self: center;
}
@media(max-width: 991px) {
	.home-introduction {
		flex-direction: column;
	}
	.home-text11 {
		text-align: center;
	}
	.home-text14 {
		text-align: center;
	}
	.home-introduction1 {
		flex-direction: column;
	}
	.home-text17 {
		text-align: center;
	}
	.home-text18 {
		text-align: center;
	}
	.home-trainers {
		grid-template-columns: 1fr 1fr;
	}
	.home-footer {
		flex-direction: column;
	}
	.home-container6 {
		margin-right: var(--dl-space-space-fourunits);
	}
	.home-product-container {
		margin-right: var(--dl-space-space-fourunits);
	}
}
@media(max-width: 767px) {
	.home-navbar-interactive {
		padding-left: var(--dl-space-space-twounits);
		padding-right: var(--dl-space-space-twounits);
	}
	.home-navlink {
		margin-left: var(--dl-space-space-unit);
	}
	.home-text01 {
		margin-left: var(--dl-space-space-unit);
	}
	.home-navlink1 {
		margin-left: var(--dl-space-space-unit);
	}
	.home-text02 {
		margin-left: var(--dl-space-space-unit);
	}
	.home-introduction {
		padding-left: var(--dl-space-space-twounits);
		padding-right: var(--dl-space-space-twounits);
	}
	.home-introduction1 {
		padding-left: var(--dl-space-space-twounits);
		padding-right: var(--dl-space-space-twounits);
	}
	.home-features {
		padding-left: var(--dl-space-space-twounits);
		padding-right: var(--dl-space-space-twounits);
	}
	.home-container3 {
		grid-template-columns: 1fr;
	}
	.home-trainers {
		padding-left: var(--dl-space-space-twounits);
		padding-right: var(--dl-space-space-twounits);
	}
	.home-classes {
		padding-left: var(--dl-space-space-twounits);
		padding-right: var(--dl-space-space-twounits);
		flex-direction: column;
	}
	.home-container4 {
		flex: 0 0 auto;
		margin-left: 0px;
		margin-right: 0px;
	}
	.home-footer {
		padding-left: var(--dl-space-space-twounits);
		padding-right: var(--dl-space-space-twounits);
	}
	.home-container5 {
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
	}
	.home-logo1 {
		align-items: center;
	}
	.home-image1 {
		margin-bottom: var(--dl-space-space-oneandhalfunits);
	}
	.home-text26 {
		margin-top: var(--dl-space-space-twounits);
		text-align: center;
		margin-bottom: var(--dl-space-space-twounits);
	}
	.home-links-container {
		width: 100%;
		align-items: flex-start;
		flex-direction: row;
		justify-content: center;
	}
	.home-container6 {
		margin-right: var(--dl-space-space-fourunits);
	}
	.home-product-container {
		margin-right: var(--dl-space-space-fourunits);
	}
}
@media(max-width: 479px) {
	.home-navbar-interactive {
		padding: var(--dl-space-space-unit);
	}
	.home-desktop-menu {
		display: none;
	}
	.home-btn-group {
		display: none;
	}
	.home-mobile-menu {
		padding: 16px;
		background-color: var(--dl-color-gray-black);
	}
	.home-icon {
		fill: var(--dl-color-primary-3days);
	}
	.home-text06 {
		color: var(--dl-color-primary-3days);
	}
	.home-text07 {
		color: var(--dl-color-primary-3days);
	}
	.home-text08 {
		color: var(--dl-color-primary-3days);
	}
	.home-text09 {
		color: var(--dl-color-primary-3days);
	}
	.home-text10 {
		color: var(--dl-color-primary-3days);
	}
	.home-login1 {
		background-color: var(--dl-color-primary-3days);
	}
	.home-burger-menu {
		display: flex;
	}
	.home-icon08 {
		fill: var(--dl-color-primary-3days);
	}
	.home-introduction {
		width: 100%;
		display: none;
		padding: var(--dl-space-space-twounits);
		padding-top: var(--dl-space-space-twounits);
		padding-left: var(--dl-space-space-unit);
		padding-right: var(--dl-space-space-unit);
	}
	.home-btn-group1 {
		flex-direction: column;
	}
	.home-button1 {
		margin-top: var(--dl-space-space-unit);
		margin-left: 0px;
	}
	.home-introduction1 {
		width: 100%;
		display: flex;
		padding: var(--dl-space-space-twounits);
		padding-top: var(--dl-space-space-twounits);
		padding-left: var(--dl-space-space-unit);
		padding-right: var(--dl-space-space-unit);
		background-size: cover;
		background-image: url("/assets/classes/full%20shap-min-1500w.png");
	}
	.home-btn-group2 {
		flex-direction: column;
	}
	.home-button3 {
		margin-top: var(--dl-space-space-unit);
		margin-left: 0px;
	}
	.home-features {
		padding-top: var(--dl-space-space-twounits);
		padding-left: var(--dl-space-space-unit);
		padding-right: var(--dl-space-space-unit);
		padding-bottom: var(--dl-space-space-twounits);
	}
	.home-trainers {
		padding-top: var(--dl-space-space-twounits);
		padding-left: var(--dl-space-space-unit);
		padding-right: var(--dl-space-space-unit);
		padding-bottom: var(--dl-space-space-twounits);
	}
	.home-classes {
		padding-top: var(--dl-space-space-twounits);
		padding-left: var(--dl-space-space-unit);
		padding-right: var(--dl-space-space-unit);
		padding-bottom: var(--dl-space-space-twounits);
	}
	.home-footer {
		padding: var(--dl-space-space-unit);
	}
	.home-container5 {
		align-items: center;
		flex-direction: column;
	}
	.home-image1 {
		margin-bottom: 0px;
	}
	.home-text26 {
		margin-top: var(--dl-space-space-twounits);
		margin-bottom: var(--dl-space-space-twounits);
	}
	.home-links-container {
		align-items: center;
		flex-direction: column;
	}
	.home-container6 {
		margin-right: 0px;
	}
	.home-container7 {
		margin-top: var(--dl-space-space-oneandhalfunits);
		align-items: flex-start;
		margin-bottom: 0px;
	}
	.home-contact {
		align-items: flex-start;
		margin-bottom: var(--dl-space-space-unit);
	}
	.home-text43 {
		text-align: center;
	}
}
