.f-col     { display:flex; flex-direction: column; }
.f-col-r   { display:flex; flex-direction: column-reverse; }
.f-row     { display:flex; flex-direction: row; }
.f-row-r   { display:flex; flex-direction: row-reverse; }
.f-align-r {display:flex; justify-content: center; }
.f-align-c {display:flex; align-content: center; }
.f-stretch {display: flex;justify-content: space-between; }
.x-large-font{ font-size: 28px; font-family:'Lemonada Bold'; letter-spacing: -0.5px; }
.large-font { font-size: 26px; font-family:'Lemonada Bold'; letter-spacing: -0.5px;}
.x-big-font { font-size: 24px; font-family:'IBM Plex Sans Arabic Bold';}
.big-font { font-size:20px; font-family:'Lemonada Bold';}
.small-font { font-size: 16px; font-family:'IBM Plex Sans Arabic Bold';letter-spacing: 0.5px;}
.tiny-font { font-size: 14px; font-family:'IBM Plex Sans Arabic Bold';letter-spacing: 0.5px;}
.yellow {background-color:#FFAB00; color:black;}
.grey {background-color:#8E8D91; color:white;}
.black {background-color: black; color:white;}
.block { clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%); }
.clip {clip-path:polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%,10px 100%,0 calc(100% - 10px)); }
.main
{
    padding-top:130px;
    padding-bottom:102px;
    padding-right:139px;
    padding-left:139px;
    background: transparent linear-gradient(360deg, #FFFCF8 0%, #FDF6EB 50%, #FDF9F2 100%) 0% 0% no-repeat padding-box;
}
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #FAFAFAF7;
    box-shadow:  0px 2px 10px #0000001A;
    height:68px;
    margin-bottom:38px;
  }

 .tab button {
    position:relative;
    background-color: black;
    min-width:214px;
    border: none;
    cursor: pointer;
    /* clip-path:polygon(52px 0, 100% 0, 100% 100%, 3px 100%);  */
    transition: 0.3s;
  }
  .tab button::before{
    position: absolute;
    left:3px;
    background-color: #FFAB00;
    min-width:214px;
    border: none;
    cursor: pointer;
  }
  .tab button, .tab button:before {
    -webkit-clip-path:polygon(52px 0, 100% 0, 100% 100%, 3px 100%); 
    clip-path:polygon(52px 0, 100% 0, 100% 100%, 3px 100%); 
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #38d411;
  }
  
  .content  {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    clip-path:polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%,20px 100%,0 calc(100% - 20px)); 
  }
  .parent {
    filter:drop-shadow(0px 2px 10px #0000001A);
  }

  .container {
    position: relative;
    width :100%;
    
  }
  
  .image {
    display: block;
    width: 352px;
    height: 217px;
    margin: 13px;
    clip-path:polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%,10px 100%,0 calc(100% - 10px));
  }
  
  .overlay {
    position: absolute;
    top: 13px;
    bottom: 0;
    left: 13px;
    right: 0;
    width: 352px;
    height: 217px;
    opacity: 0;
    transition: 1s ease;
    background-color: #FFAB00;

  }
  
  .container:hover .overlay {
    clip-path: polygon(0 95px, 100% 38px, 100% 100%, 0 100%); 
    opacity: 0.7;
  }
  .normal-btn{
    width:162px;
    height:48px;
    border:0px;
    margin-bottom:41px;
    margin-top:56px;
  }
  .btn1:hover{
    background-color: black;
    color: white;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }