<app-header page_name="profile" ngClass="j-page-section"></app-header>
<div class="personal-info-container j-front-page page-container">
    <div class="j-inner-container">
        <div class="backToProfile" [routerLink] = "'/profile'">
            <app-polygon-border-div j-class="j-left">
                <div class="back-icon">
                    <i class="j-icon bi bi-person"></i>
                </div>
            </app-polygon-border-div>
        </div>
        <div class="page-title mb-5 mt-5">
            <h3 class="j-title-size text-white">البيانات الشخصية</h3>
        </div>
        <div class="j-profile-panel">
            <div class="j-name-field d-flex">
                <div class="j-first-name-field j-form-group">
                    <label for="first_name" class="j-inputbox-label">اسم العائلة</label>
                    <div class="j-input-icons j-input-icon-right">
                        <input type="first_name" class="j-inputbox" id="first_name" name="first_name" aria-describedby="first_nameHelp" placeholder="اسم العائلة" required> 
                        <i class="j-icon j-icon-right j-icon-person"></i>
                    </div>
                </div>
                <div class="j-last-name-field j-form-group">
                    <label for="last_name" class="j-inputbox-label">الاسم الأول</label>
                    <div class="j-input-icons j-input-icon-right">
                        <input type="last_name" class="j-inputbox" id="last_name" name="last_name" aria-describedby="last_nameHelp" placeholder="الاسم الأول" required> 
                        <i class="j-icon j-icon-right j-icon-person"></i>
                    </div>
                </div>
            </div>
            <div class="j-form-group">
                <label for="id_number" class="j-inputbox-label">رقم الهوية</label>
                <div class="j-input-icons j-input-icon-right">
                    <input type="text" class="j-inputbox" id="id_number" name = "id_number" placeholder="رقم الهوية">
                    <i class="j-icon j-icon-right j-icon-idcard"></i>
                </div>
            </div>
            <div class="j-form-group">
                <label for="birthday" class="j-inputbox-label">تاريخ الميلاد</label>
                <div class="j-input-icons j-input-icon-right">
                    <input type="text" class="j-inputbox" id="birthday" name = "birthday" placeholder="تاريخ الميلاد" bsDatepicker>
                    <i class="j-icon j-icon-right j-icon-calendar"></i>
                </div>
            </div>
            <div class="j-form-group">
                <label for="subscription_day" class="j-inputbox-label">تاريخ بدء الاشتراك</label>
                <div class="j-input-icons j-input-icon-right">
                    <input type="text" class="j-inputbox" id="subscription_day" name = "subscription_day" bsDatepicker  placeholder="تاريخ بدء الاشتراك">
                    <i class="j-icon j-icon-right j-icon-calendar"></i>
                </div>
            </div>
            <div class="j-submit mt-5">
                <div class="j-form-group">
                    <button type="button" class="j-left-button button j-submit-button"><span>حفظ التغييرات</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer ngClass="j-page-section"></app-footer>