<app-header page_name="profile" ngClass="j-page-section"></app-header>
<div class="personal-info-container j-front-page page-container">
    <div class="j-inner-container">
        <app-back-profile-icon></app-back-profile-icon>
        <app-select-branch-icon></app-select-branch-icon>
        <div class="page-title mb-5 mt-5">
            <h3 class="j-title-size text-white">{{'Personal data'|translate}}</h3>
        </div>
        <div class="j-profile-panel">
            <form class="j-form" #updateForm="ngForm" (ngSubmit)="updateForm.form.valid ? update() : false">
                <div class="j-name-field d-flex">
                    <div class="j-arabic-name-field j-form-group" [ngClass]="{invalid: (updateForm.submitted  || arabic_name.touched || arabic_name.dirty )  && arabic_name.invalid}">
                        <label for="arabic_name" class="j-inputbox-label j-flex-row-reverse">
                            <span>{{'Arabic Name'|translate}}</span>
                            <span class="j-error" *ngIf="arabic_name.errors">
                                <ng-container *ngIf="arabic_name.errors.required">{{'Required'|translate}} !</ng-container>
                            </span>
                        </label>
                        <div class="j-input-icons j-input-icon-right">
                            <input type="arabic_name" class="j-inputbox" id="arabic_name" name="arabic_name" aria-describedby="arabic_nameHelp" placeholder="Arabic Name" [(ngModel)]="current_user_data.arabic_name" #arabic_name="ngModel" required> 
                            <i class="j-icon j-icon-right j-icon-person"></i>
                        </div>
                    </div>
                    <div class="j-english-name-field j-form-group" [ngClass]="{invalid: (updateForm.submitted || english_name.touched || english_name.dirty ) && english_name.invalid}">
                        <label for="english_name" class="j-inputbox-label j-flex-row-reverse">
                            <span>{{'English Name'|translate}}</span>
                            <span class="j-error" *ngIf="english_name.errors">
                                <ng-container *ngIf="english_name.errors.required">{{'Required'|translate}} !</ng-container>
                            </span>
                        </label>
                        <div class="j-input-icons j-input-icon-right">
                            <input type="english_name" class="j-inputbox" id="english_name" name="english_name" aria-describedby="english_nameHelp" placeholder="English Name" [(ngModel)]="current_user_data.english_name" #english_name="ngModel" required> 
                            <i class="j-icon j-icon-right j-icon-person"></i>
                        </div>
                    </div>
                </div>
                <div class="j-form-group" [ngClass]="{invalid: (updateForm.submitted || national_id.touched || national_id.dirty ) && national_id.invalid}">
                    <label for="national_id" class="j-inputbox-label j-flex-row-reverse" >
                        <span>{{'ID Number'|translate}}</span>
                        <span class="j-error" *ngIf="national_id.errors">
                            <ng-container *ngIf="national_id.errors.required">{{'Required'|translate}} !</ng-container>
                        </span>
                    </label>
                    <div class="j-input-icons j-input-icon-right">
                        <input type="text" class="j-inputbox" id="national_id" name = "national_id" placeholder="رقم الهوية" [(ngModel)]="current_user_data.national_id" #national_id="ngModel" required>
                        <i class="j-icon j-icon-right j-icon-idcard"></i>
                    </div>
                </div>
                <div class="j-form-group"  [ngClass]="{invalid: (updateForm.submitted || dob.touched || dob.dirty ) && dob.invalid}">
                    <label for="dob" class="j-inputbox-label j-flex-row-reverse">
                        <span>{{'date of birth'|translate}}</span>
                        <span class="j-error" *ngIf="dob.errors">
                            <ng-container *ngIf="dob.errors.required">{{'Required'|translate}} !</ng-container>
                        </span>
                    </label>
                    <div class="j-input-icons j-input-icon-right">
                        <input type="text" class="j-inputbox" id="dob" name = "dob" placeholder="{{'date of birth'|translate}}" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD',customTodayClass: 'highlight-today'}" [(ngModel)]="current_user_data.dob" #dob="ngModel" required>
                        <i class="j-icon j-icon-right j-icon-calendar"></i>
                    </div>
                </div>
                <div class="j-submit mt-5">
                    <div class="j-form-group">
                        <button type="submit" class="j-left-button button j-submit-button" [class.loading]="submitting"><span>{{'Saving changes'|translate}}</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer page_name="profile" ngClass="j-page-section"></app-footer>