@import '~@angular/material/prebuilt-themes/indigo-pink.css';
:root {
	--dl-color-gray-500: #595959;
	--dl-color-gray-700: #999999;
	--dl-color-gray-900: #D9D9D9;
	--dl-size-size-large: 144px;
	--dl-size-size-small: 48px;
	--dl-color-danger-300: #A22020;
	--dl-color-danger-500: #BF2626;
	--dl-color-danger-700: #E14747;
	--dl-color-gray-black: #000000;
	--dl-color-gray-dark: #A7A7A7;
	--dl-color-gray-white: #FFFFFF;
	--dl-color-grey-white: #FAFAFAF7;
	--dl-color-grey-black: #1C1A17;
	--dl-color-grey-dark: #8E8D91;
	--dl-color-black-dark: #121212;
	--dl-size-size-medium: 96px;
	--dl-size-size-xlarge: 192px;
	--dl-size-size-xsmall: 16px;
	--dl-space-space-unit: 16px;
	--dl-color-primary-100: #003EB3;
	--dl-color-primary-300: #0074F0;
	--dl-color-primary-500: #14A9FF;
	--dl-color-primary-700: #85DCFF;
	--dl-color-success-300: #199033;
	--dl-color-success-500: #32A94C;
	--dl-color-success-700: #4CC366;
	--dl-size-size-xxlarge: 288px;
	--dl-size-size-maxwidth: 1400px;
	--dl-color-primary-3days: #ffab00ff;
	--dl-radius-radius-round: 50%;
	--dl-space-space-sevenunits: 137px;
	--dl-space-space-sixunits: 96px;
	--dl-space-space-twounits: 32px;
	--dl-radius-radius-radius2: 2px;
	--dl-radius-radius-radius4: 4px;
	--dl-radius-radius-radius8: 8px;
	--dl-space-space-fiveunits: 80px;
	--dl-space-space-fourunits: 64px;
	--dl-space-space-threeunits: 48px;
	--dl-space-space-oneandhalfunits: 24px;
	--dl-space-space-oneunit: 16px;
	--dl-space-space-halfunit: 8px;
}
.dropdown-right-arrow {
	background-image: url(/assets/img/downarrow.svg) !important;
    background-repeat: no-repeat !important;
    background-position: left 1rem center !important;
    background-size: 1em !important;
	appearance: none !important;
}
.button {
	color: var(--dl-color-gray-black);
	display: inline-block;
	padding: 0.5rem 1rem;
	border-color: var(--dl-color-gray-black);
	border-width: 1px;
	border-radius: 4px;
	background-color: var(--dl-color-gray-white);
}
.input {
	color: var(--dl-color-gray-black);
	cursor: auto;
	padding: 0.5rem 1rem;
	border-color: var(--dl-color-gray-black);
	border-width: 1px;
	border-radius: 4px;
	background-color: var(--dl-color-gray-white);
}
.textarea {
	color: var(--dl-color-gray-black);
	cursor: auto;
	padding: 0.5rem;
	border-color: var(--dl-color-gray-black);
	border-width: 1px;
	border-radius: 4px;
	background-color: var(--dl-color-gray-white);
}
.list {
	width: 100%;
	margin: 1em 0px 1em 0px;
	display: block;
	padding: 0px 0px 0px 1.5rem;
	list-style-type: none;
	list-style-position: outside;
}
.list-item {
	display: list-item;
}
.teleport-show {
	display: flex !important;
	transform: translateX(0%) !important;
}
.Content {
	font-size: 16px;
	font-family: Inter;
	font-weight: 400;
	line-height: 1.15;
	text-transform: none;
	text-decoration: none;
}
.Heading {
	font-size: 32px;
	font-family: Inter;
	font-weight: 700;
	line-height: 1.15;
	text-transform: none;
	text-decoration: none;
}
/* custom by Jfrost */
body {
	background-color: var(--dl-color-gray-black) !important;
}
.loader {
	position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #fff9;
    z-index: 10002;
    display: flex;
    align-items: center;
    justify-content: center;
}
.j-flex-row-reverse{
	display: flex;
	flex-direction: row-reverse;
}
.j-error{
	color: var(--dl-color-danger-500);
	display: none;
}
.j-front-page{
	padding: var(--dl-space-space-twounits) var(--dl-space-space-threeunits);
	/* padding-bottom: var(--dl-space-space-twounits); */
}
.j-front-page .error {
	font-size: 11px;
	color: var(--dl-color-danger-300);
}
:not(.invalid) .error{
	display: none;
}
.j-front-page .j-inner-container{
	position: relative;
	text-align: center;
	max-width: 1075px;
	width: 100%;
}
.j-page-section{
	width: 100%;
	max-width: var(--dl-size-size-maxwidth);
}
.j-page-section .page-inner-section{
	max-width: var(--dl-size-size-maxwidth);
	background-color: var(--dl-color-gray-black);
	margin: auto;
}
.page-container{
	width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
}
.j-left-button{
	text-decoration: none;
	clip-path: polygon(0% 0%, calc(100% - 15px) 0%, 100% 15px ,100% 100%, 15px 100%, 0% calc(100% - 15px));
}
.j-right-button{
	clip-path: polygon(15px 0%, 100% 0%, 100% calc(100% - 15px) ,calc(100% - 15px) 100%, 0% 100%, 0% 15px);
	text-decoration: none;
}
.j-left-button:hover{
	clip-path: none;
	transform: scale(1) !important;
}
.j-right-button:hover{
	clip-path: none;
	transform: scale(1) !important;
}
.j-form-group{
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	width: 100%;
}
.j-form-group.invalid .j-inputbox{
	border-color: var(--dl-color-danger-500);
}
.j-form-group.invalid .j-error{
	display: block;
}
.j-inputbox-label{
	color:var(--dl-color-grey-dark);
	text-align: right;
	font-size:12px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}
.j-inputbox{
	background:var(--dl-color-grey-black);
	text-align: right;
	height: 44px;
    /* min-width: 350px; */
	width:100%;
	font-size: 14px;
	color: white;
	border:1px #FFFFFF14 solid;
	padding: 2px 8px;
}
.j-input-icons .j-inputbox{
	padding-right : var(--dl-space-space-threeunits);
	padding-left: 8px;
}
.j-input-icons.j-input-icon-left .j-inputbox{
	padding-right: 8px;
	padding-left : var(--dl-space-space-threeunits);
}
.j-input-icons.j-input-icon-both .j-inputbox{
	padding-left : var(--dl-space-space-threeunits);
	padding-left : var(--dl-space-space-threeunits);
}
.j-submit-button.loading{
	color: transparent!important;
    background-image: url(/assets/img/spinner.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}
.j-submit-button.loading *{
	color: transparent!important;
	background: transparent !important;
}
.j-form-group .j-submit-button{
	width: 100%;
	height: 56px;
	background-color: var(--dl-color-primary-3days);
	font-size:20px;
}

.j-form-group .j-input-icons {
    position: relative;
}
.j-form-group .j-input-icons i.j-icon{
	position: absolute;
	top: 0;   
	width: 44px;
	height: 100%;
	color: var(--dl-color-grey-white);
}
.j-form-group .j-input-icons i.j-icon.j-clickable:hover{
	background-color: var(--dl-color-primary-3days);
	cursor: pointer;
}
.j-form-group .j-input-icons i.j-icon.j-icon-right{
	right: 0;
}
.j-form-group .j-input-icons i.j-icon.j-icon-left{
	left: 0;
}
.j-form-group .j-input-icons i.bi.j-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.j-front-page .gwTColor{
	color: var(--dl-color-grey-white); /*FAFAFAF7*/
}
.j-front-page .gdTColor{
	color: var(--dl-color-grey-dark) !important;  /*8E8D91*/
}
.j-front-page .bdTColor{
    color: var(--dl-color-black-dark);
}
.j-front-page ._3dayColor{
    color: var(--dl-color-primary-3days);
}
.j-front-page .j-dangerColor{
    color: #b6361a;
}
.j-front-page .j-title-size{
    font-size: 36px;
}
.j-front-page .j-smalltitle-size{
	font-size: 32px;
}
.j-front-page .j-subtitle-size{
    font-size: 28px;
}
.j-front-page .j-smallSubtitle-size{
    font-size: 24px;
}
.j-front-page .j-tinySubtitle-size{
    font-size: 20px;
}
.j-front-page .j-tnSize,
.j-front-page .j-normal-size{
    font-size: 16px;
}
.j-front-page .j-tsSize{
    font-size: 14px;
}

.j-front-page.modal-container{
	width: 100%;
	max-width: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
	border: 1px solid var(--dl-color-grey-white);
	border-radius: 4px;
}
.j-front-page.modal-container .j-form-group .j-submit-button{
	height: 46px;
    font-size: 18px;
}
.cdk-overlay-dark-backdrop {
    background: rgba(94, 94, 94, 0.32);
}
.j-front-page .j-profileTopSideBtn {
	display: flex;
    position: absolute;
	top: 10px;
}
.j-front-page .j-profileTopSideBtn .back-icon{
	width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.j-front-page .j-profileTopSideBtn i.j-icon{
	color: white;
}
.j-front-page .j-backToProfile {
	left: 0;
}
.j-front-page .j-selectBranch {
	right: 0;
}

.j-form-group .j-input-icon-right .ng-spin-box-wrapper button{
	left: 0 !important;
    right: unset !important;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
}
.j-form-group .j-input-icon-right .ng-spin-box-wrapper button:hover{
	opacity:0.5;
}
.j-form-group .j-input-icon-right .ng-spin-box-wrapper .ng-spin-box-btn-up{
	background-image: url(./assets/img/caret-up-fill.svg);
}
.j-form-group .j-input-icon-right .ng-spin-box-wrapper .ng-spin-box-btn-down{
	background-image: url(./assets/img/caret-down-fill.svg);
}
.j-form-group .j-input-icon-right .ng-spin-box-wrapper input[type="number"]::-webkit-outer-spin-button,
.j-form-group .j-input-icon-right .ng-spin-box-wrapper input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.page-container a.j-text-hover:hover{
	text-decoration: none;
    color: var(--dl-color-grey-dark) !important;
}

@media(max-width: 767px) {
	.j-front-page{
		padding: var(--dl-space-space-oneunit);
	}

	.j-front-page .j-title-size{
		font-size: 32px;
	}
	.j-front-page .j-smalltitle-size{
		font-size: 28px;
	}
	.j-front-page .j-subtitle-size{
		font-size: 24px;
	}
	.j-front-page .j-smallSubtitle-size{
		font-size: 20px;
	}
	.j-front-page .j-tinySubtitle-size{
		font-size: 16px;
	}
	.j-front-page .j-tnSize,
	.j-front-page .j-normal-size{
		font-size: 12px;
	}
	.j-front-page .j-tsSize{
		font-size: 10px;
	}
}
@media(max-width: 425px) {
	.j-form-group.invalid .j-error {
		font-size: 8px;
		line-height: 18px;
	}
}












.j-icon.j-icon-automark{
    background: url(/assets/img/automark.svg) no-repeat;
    background-position: center;
}
  
.j-icon.j-icon-key{
    background: url(/assets/img/key.svg) no-repeat;
    background-position: center;
}
  
.j-icon.j-icon-phone{
    background: url(/assets/img/phone.svg) no-repeat;
    background-position: center;
}
  
.j-icon.j-icon-person{
    background: url(/assets/img/person.svg) no-repeat;
    background-position: center;
}
  
.j-icon.j-icon-idcard{
    background: url(/assets/img/idcard.svg) no-repeat;
    background-position: center;
}
  
.j-icon.j-icon-calendar{
    background: url(/assets/img/calendar.svg) no-repeat;
    background-position: center;
}
  
.j-icon.j-icon-visacard{
    background: url(/assets/img/visacard.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-product{
    background: url(/assets/img/product.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-marker{
    background: url(/assets/img/marker.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-cash{
    background: url(/assets/img/cash.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-person-cross{
    background: url(/assets/img/person-cross.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-branch{
    background: url(/assets/img/branch.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-twoperson{
    background: url(/assets/img/twoperson.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-capman{
    background: url(/assets/img/capman.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-receiver{
    background: url(/assets/img/receiver.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-file{
    background: url(/assets/img/file.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-out{
    background: url(/assets/img/out.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-earth{
    background: url(/assets/img/earth.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-active-two-person{
    background: url(/assets/img/active-twoperson.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-active-cash{
    background: url(/assets/img/active-cash.svg) no-repeat;
    background-position: center;
}
.j-icon.j-icon-active-person{
    background: url(/assets/img/active-person.svg) no-repeat;
    background-position: center;
}
