<div class="bookings-container">
	<app-header page_name = "bookings" ngClass="j-page-section"></app-header>
	<div class="bookings-blog">
		<div class="bookings-container3">
			<blog-post-card3 rootClassName="rootClassName1"></blog-post-card3>
		</div>
		<div class="bookings-container4">
			<blog-post-card3
				image_src="/assets/classes/cross%20training-min-1500w.jpg"
				rootClassName="rootClassName2"
			></blog-post-card3>
		</div>
	</div>
	<app-footer ngClass="j-page-section"></app-footer>
</div>
