.bookings-container .select-booking-tab-panel{
	background-color: #c6b9b923;
}
.bookings-container .select-booking-tab{
    padding: 10px 20px;
    width: 127px;
    font-size: 12px;
	text-align: center;
	cursor: pointer;
	color: white;
}
.bookings-container .select-booking-tab.active{
	background-color: var(--dl-color-primary-3days);
	color: var(--dl-color-grey-black);
}
.j-sessions-tab {
	width: 100%;
}
.j-sessions-tab .j-session-item .j-session-card{
	padding : 12px;
	margin-bottom: 12px;
	display: flex;
	flex-direction: row-reverse;
	text-align: right;
	position:relative;
}
.j-sessions-tab .j-session-item .j-img.j-trainer-photo{
	width: 80px;
	height: 80px;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.j-sessions-tab .j-session-item .j-session-info{
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}
.j-sessions-tab .j-session-card .j-icon{
	position: absolute;
	left: 8px;
	top: calc(50% - 8px);
	color: white;
	display: flex;
	align-items: center;
}
/* -------------------------------------------------------------- */
.j-appointments-tab{
	width: 100%;
}
.j-appointments-tab .j-appointment-item{
    margin-top: 16px;
}
.j-appointments-tab .j-appointment-item .j-appointment-card{
	display: flex;
	flex-direction: column;
}
.j-appointments-tab .j-appointment-item .j-banner{
	min-height: 120px;
	padding:12px;
}
.j-appointments-tab .j-appointment-item .j-appointment-classname{
	font-size: 17px;
}
.j-appointments-tab .j-appointment-item .j-banner .j-appointment-status{
	display: flex;
}
.j-appointments-tab .j-appointment-item .j-banner .j-status-btn{
	size: 14px;
	color:#1E1E1E;
	padding:4px 8px;
}
.j-appointments-tab .j-appointment-item .j-banner .j-completed-appointment{
	background-color: #1BC47D;
}
.j-appointments-tab .j-appointment-item .j-banner .j-pending-appointment{
	background-color: #FFAB00;
}
.j-appointments-tab .j-appointment-item .j-banner .j-active-appointment{
	background-color: #32A6FA;
}
.j-appointments-tab .j-appointment-item .j-banner .j-inactive-appointment{
	background-color: #F24822;
}
.j-appointments-tab .j-appointment-item .j-appointment-info{
	display: flex;
	justify-content: space-between;
}
.j-appointments-tab .j-appointment-item .j-appointment-info .j-info{
	display: flex;
	align-items: center;
}
.j-lang-en .j-appointments-tab .j-appointment-item .j-appointment-info .j-info{
	flex-direction: row;
}
.j-lang-ar .j-appointments-tab .j-appointment-item .j-appointment-info .j-info{
	flex-direction: row-reverse;
}
.j-lang-en .j-appointments-tab .j-appointment-item .j-appointment-info .j-info app-polygon-border-div{
	margin-right: 12px;
}
.j-lang-ar .j-appointments-tab .j-appointment-item .j-appointment-info .j-info app-polygon-border-div{
	margin-left: 12px;
} 
.j-appointments-tab .j-appointment-item .j-appointment-info .j-info .j-item-img{
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}
.j-appointments-tab .j-appointment-item .j-appointment-info .j-info .j-item-img.j-item-photo{
	background-size: cover;
}
.j-appointments-tab .j-appointment-item .j-appointment-info .j-apply-btn .j-btn,
.j-appointments-tab .j-appointment-item .j-appointment-info .j-cancel-btn .j-btn{
	padding : 12px !important;
}
/* --------------------------------------------------------------- */
@media(max-width: 767px) {
	.j-sessions-tab .j-session-item .j-img.j-trainer-photo{
		width: 70px;
		height: 70px;
	}
}